cagrid-1-0/caGrid/projects/workflow/tests/RproteomicsBPEL/support/Rproteomics/wsdl/callRproteomicsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="callRproteomicsService" 
	targetNamespace="http://cabig.nic.nih.gov/bpel" xmlns:tns="http://cabig.nic.nih.gov/bpel" 
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" 
	xmlns:rtypes="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" 
	xmlns:rprot="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:import namespace="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" 
  location="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/edu.duke.cabig.rproteomics.domain.serviceInterface.xsd"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" 
  location="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/RProteomics_flattened.wsdl"/>

  <wsdl:message name="callEchoInputMessage">
    <wsdl:part name="parameters" element="rprot:echo"/>
 </wsdl:message>
 <wsdl:message name="callEchoOutputMessage">
    <wsdl:part name="parameters" element="rprot:echoResponse"/>
 </wsdl:message>
 
  
  <wsdl:message name="RproteomicsOutputMessage">
    <wsdl:part name="RproteomicsPart" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="invokeRproteomicsInputMessage">
    <wsdl:part name="invokeRproteomicsPart" type="xsd:string"/>
  </wsdl:message>
 

  <wsdl:portType name="invokeRproteomicsPortType">
    <wsdl:operation name="invokeEcho">
        <wsdl:input message="rprot:echoInputMessage"/>
        <wsdl:output message="rprot:echoOutputMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="invokeRproteomicsOperation">
      <wsdl:input message="tns:invokeRproteomicsInputMessage"/>
      <wsdl:output message="tns:RproteomicsOutputMessage"/>
    </wsdl:operation>
    
  </wsdl:portType>

<plnk:partnerLinkType name="RproteomicsClientPartnerLinkType">
   <plnk:role name="client">
      <plnk:portType name="tns:invokeRproteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="RproteomicsPartnerLinkType">
   <plnk:role name="service">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
