cagrid-1-0/caGrid/projects/cadsr/schema/CaDSRService/CaDSRService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CaDSRService" targetNamespace="http://cadsr.cagrid.nci.nih.gov/CaDSRService"
    xmlns:tns="http://cadsr.cagrid.nci.nih.gov/CaDSRService"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
        location="../wsrf/faults/WS-BaseFaults.wsdl"/>
    <!--============================================================

                      T Y P E S
                      
  ============================================================-->
    <types>
        <schema targetNamespace="http://cadsr.cagrid.nci.nih.gov/CaDSRService"
            xmlns:tns="http://cadsr.cagrid.nci.nih.gov/CaDSRService"
            xmlns:proj="gme://caCORE.cabig/3.0/gov.nih.nci.cadsr.umlproject.domain"
            xmlns:comm="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">
            <import
                namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
                schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>
            <import namespace="gme://caCORE.cabig/3.0/gov.nih.nci.cadsr.umlproject.domain"
                schemaLocation="./3.0_gov.nih.nci.cadsr.umlproject.domain.xsd"/>
            <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common"
                schemaLocation="./1.0_gov.nih.nci.cagrid.metadata.common.xsd"/>
            <element name="findAllProjects">
                <complexType>
                    <sequence> </sequence>
                </complexType>
            </element>
            <element name="findAllProjectsResponse">
                <complexType>
                    <sequence>
                        <element ref="proj:Project" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findProjects">
                <complexType>
                    <sequence>
                        <element name="context" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    </sequence>
                </complexType>
            </element>
            <element name="findProjectsResponse">
                <complexType>
                    <sequence>
                        <element ref="proj:Project" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
                </complexType>
            </element>
            <element name="CaDSRServiceResourceProperties">
                <complexType>
                    <sequence>
                        <element ref="comm:CommonServiceMetadata"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    <!--  place service messages here -->
    <message name="findAllProjectsInputMessage">
        <part name="parameters" element="tns:findAllProjects"/>
    </message>
    <message name="findAllProjectsOutputMessage">
        <part name="parameters" element="tns:findAllProjectsResponse"/>
    </message>
    <message name="findProjectsInputMessage">
        <part name="parameters" element="tns:findProjects"/>
    </message>
    <message name="findProjectsOutputMessage">
        <part name="parameters" element="tns:findProjectsResponse"/>
    </message>
    <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
    <portType name="CaDSRServicePortType"
        wsrp:ResourceProperties="tns:CaDSRServiceResourceProperties">
        <operation name="findAllProjects">
            <input message="tns:findAllProjectsInputMessage"/>
            <output message="tns:findAllProjectsOutputMessage"/>
        </operation>
        <operation name="findProjects">
            <input message="tns:findProjectsInputMessage"/>
            <output message="tns:findProjectsOutputMessage"/>
        </operation>
        <operation name="GetResourceProperty">
            <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
            <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="GetMultipleResourceProperties">
            <input name="GetMultipleResourcePropertiesRequest"
                message="wsrpw:GetMultipleResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <output name="GetMultipleResourcePropertiesResponse"
                message="wsrpw:GetMultipleResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="QueryResourceProperties">
            <input name="QueryResourcePropertiesRequest"
                message="wsrpw:QueryResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
            <output name="QueryResourcePropertiesResponse"
                message="wsrpw:QueryResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="UnknownQueryExpressionDialectFault"
                message="wsrpw:UnknownQueryExpressionDialectFault"/>
            <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
            <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
        </operation>
    </portType>
</definitions>
