cagrid-1-0/Demos/06annual/workflow/RProteomicsWorkFlow/wsdl/RPData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RPData" targetNamespace="http://rproteomics.cagrid.nci.nih.gov/RPData"
    xmlns:tns="http://rproteomics.cagrid.nci.nih.gov/RPData"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
        location="../wsrf/faults/WS-BaseFaults.wsdl"/>
    <!--============================================================

                      T Y P E S
                      
  ============================================================-->
    <types>
        <schema targetNamespace="http://rproteomics.cagrid.nci.nih.gov/RPData"
            xmlns:tns="http://rproteomics.cagrid.nci.nih.gov/RPData"
			xmlns:cqlq="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" 
            xmlns:rprot="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface"
			
            xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">
			<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>
		
			<import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" schemaLocation="./1_gov.nih.nci.cagrid.CQL.xsd"/>
            
            <import namespace="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" schemaLocation="./edu.duke.cabig.rproteomics.domain.serviceInterface.xsd"/>
			   
      	
      	
				<element name="query">
					<complexType>
						<sequence>
          		  
                  			<element name="query" type="cqlq:CQLQueryType" minOccurs="1" maxOccurs="1" />
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="queryResponse">
					<complexType>
						<sequence>
          		  
			                  <element name="response" type="cqlq:CQLQueryResultsType" minOccurs="1" maxOccurs="1" />
			                  
						</sequence>
					</complexType>
				</element>
				<element name="MalformedQueryException" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
            <element name="RPDataResourceProperties">
                <complexType>
                    <sequence></sequence>
                </complexType>
            </element>
            <element name="WorkFlowInputType">
                <complexType>
                <sequence>
                    <element name="queryType" type="cqlq:CQLQueryType" minOccurs="1" maxOccurs="1"/>
                    <element name="windowType" type="rprot:WindowType"/>
                    <element name="percentileType" type="rprot:PercentileType"/>
                    <element name="thresholdType" type="rprot:ThresholdType"/>
                </sequence>
                    </complexType>
            </element>
            <element name="WorkFlowOutputType">
            <complexType>
            <sequence>
                <element name="jpegImage" type="rprot:JpegImageType"/>
            </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
<!--  place service messages here -->
	<message name="queryInputMessage">
		<part name="parameters" element="tns:query"/>
	</message>
	
	<message name="queryOutputMessage">
		<part name="parameters" element="tns:queryResponse"/>
	</message>
	<message name="MalformedQueryExceptionFaultMessage">
		<part name="fault" element="tns:MalformedQueryException"/>
	</message>
    <message name="workFlowInputMessage">
        <part name="parameters" element="tns:WorkFlowInputType">
    </part>
    </message>
    <message name="workFlowOutputMessage">
    <part name="parameters" element="tns:WorkFlowOutputType"></part>
    </message>
<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
    <portType name="RPDataPortType" wsrp:ResourceProperties="tns:RPDataResourceProperties">

		<operation name="query">
            <input message="tns:queryInputMessage"/>
            <output message="tns:queryOutputMessage"/>
       		 <fault name="MalformedQueryException" message="tns:MalformedQueryExceptionFaultMessage"/>
       				
        </operation>
        <operation name="GetResourceProperty">
            <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
            <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="GetMultipleResourceProperties">
            <input name="GetMultipleResourcePropertiesRequest"
                message="wsrpw:GetMultipleResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <output name="GetMultipleResourcePropertiesResponse"
                message="wsrpw:GetMultipleResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="QueryResourceProperties">
            <input name="QueryResourcePropertiesRequest"
                message="wsrpw:QueryResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
            <output name="QueryResourcePropertiesResponse"
                message="wsrpw:QueryResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="UnknownQueryExpressionDialectFault"
                message="wsrpw:UnknownQueryExpressionDialectFault"/>
            <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
            <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
        </operation>
    </portType>
</definitions>
