cagrid-1-0/Demos/06annual/workflow/RProteomicsWorkFlow/wsdl/WorkFlowClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorkFlowClientService" targetNamespace="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns:tns="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:rtypes="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" xmlns:rprot="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:rprotdata="http://rproteomics.cagrid.nci.nih.gov/RPData" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cqlq="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" xmlns="http://schema.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://rproteomics.cagrid.nci.nih.gov/RPData" location="http://localhost:8080/wsrf/share/schema/_cagrid_RPData/RPData_flattened.wsdl"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" location="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/RProteomics_flattened.wsdl"/>
  <wsdl:types>
    <schema targetNamespace="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cqlq="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" xmlns:rprot="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" xmlns:rprotdata="http://rproteomics.cagrid.nci.nih.gov/RPData" xmlns:rtypes="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" xmlns:tns="http://annualdemo.cagrid.nci.nih.gov/bpel">
    
    <import namespace="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" schemaLocation="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/edu.duke.cabig.rproteomics.domain.serviceInterface.xsd"/>
    <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" schemaLocation="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RPData/1_gov.nih.nci.cagrid.CQL.xsd"/>
    	
            <complexType name="WorkFlowInputType">
                <sequence>
                    <element name="queryType" type="cqlq:CQLQueryType"/>
                    <element name="windowType" type="rtypes:WindowType"/>
                    <element name="percentileType" type="rtypes:PercentileType"/>
                    <element name="windowType2" type="rtypes:WindowType"/>
                    <element name="thresholdType" type="rtypes:ThresholdType"/>
                </sequence>
            </complexType>
            
            <complexType name="WorkFlowOutputType">
                <sequence>
                    <element name="result" type="cqlq:CQLQueryResultsType"/>
                </sequence>
            </complexType>
            
        </schema>
  </wsdl:types>
  <wsdl:message name="startWorkFlowOutputMessage">
    <wsdl:part name="parameters" type="tns:WorkFlowOutputType"/>
  </wsdl:message>
  <wsdl:message name="startWorkFlowInputMessage">
    <wsdl:part name="parameters" type="tns:WorkFlowInputType"/>
  </wsdl:message>
  <wsdl:portType name="startWorkFlowPortType">
    <wsdl:operation name="startWorkFlow">
      <wsdl:input message="rprotdata:workFlowInputMessage"/>
      <wsdl:output message="rprotdata:workFlowOutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
<plnk:partnerLinkType name="WorkFlowClientPartnerLinkType">
   <plnk:role name="client">
      <plnk:portType name="tns:startWorkFlowPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="DukeRproteomicsPartnerLinkType">
   <plnk:role name="dukeservice">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OSURproteomicsPartnerLinkType">
   <plnk:role name="osuservice">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="RproteomicsDataLinkType">
   <plnk:role name="data">
      <plnk:portType name="rprotdata:RPDataPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
