cagrid-1-0/Demos/06annual/workflow/RProteomicsWorkFlow/wsdl/WorkFlowClientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WorkFlowClientService" 
	targetNamespace="http://cabig.nic.nih.gov/bpel" xmlns:tns="http://cabig.nic.nih.gov/bpel" 
	xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" 
	xmlns:rtypes="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" 
	xmlns:rprot="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" 
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  
  <wsdl:import namespace="gme://RProteomics.caBIG/5/edu.duke.cabig.rproteomics.domain.serviceInterface" 
  location="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/edu.duke.cabig.rproteomics.domain.serviceInterface.xsd"/>
  <wsdl:import namespace="http://www.globus.org/namespaces/cagrid/RProteomics/RProteomics" 
  location="http://ccis1716.duhs.duke.edu/wsrf/share/schema/_cagrid_RProteomics/RProteomics_flattened.wsdl"/>

  <wsdl:message name="startWorkFlowInputMessage">
    <wsdl:part name="parameters" element="rprot:echo"/>
 </wsdl:message>
 <wsdl:message name="startWorkFlowOutputMessage">
    <wsdl:part name="parameters" element="rprot:echoResponse"/>
 </wsdl:message>
 
  

  <wsdl:portType name="startWorkFlowPortType">
    <wsdl:operation name="startWorkFlow">
        <wsdl:input message="rprot:echoInputMessage"/>
        <wsdl:output message="rprot:echoOutputMessage"/>
    </wsdl:operation>
    
  </wsdl:portType>

<plnk:partnerLinkType name="WorkFlowClientPartnerLinkType">
   <plnk:role name="client">
      <plnk:portType name="tns:startWorkFlowPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="RproteomicsPartnerLinkType">
   <plnk:role name="service">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
