cagrid-1-0/caGrid/projects/introduce/schema/Methods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Shannon Hastings  -->
<xs:schema xmlns="gme://gov.nih.nci.cagrid.introduce/1/Methods" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="gme://gov.nih.nci.cagrid.introduce/1/Methods" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attributeGroup name="SchemaDervivedType">
		<xs:attribute name="className" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify the class name of an existing object that can
					serialize to, and deserialize from, the document defined by the namespace:type
					attributes. If it is omitted, it is assumed it is to be created using the
					schema.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isArray" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify if this class is to be used as an array.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namespace" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Used to specify the namespace of the schema which defines the
					type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Used to specify the name of the type in the schema which defines
					the type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="location" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify the location schema on the local filesystem. If it
					is omitted, it is assumed it can be retrieved from a GME.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="methods" type="methodsType">
		<xs:annotation>
			<xs:documentation>List of methods for this interface.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="methodsType">
		<xs:sequence>
			<xs:element name="method" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="methodType">
							<xs:attribute name="secure" type="secureValueType" use="optional"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="methodType">
		<xs:sequence>
			<xs:element name="inputs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="input" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attributeGroup ref="SchemaDervivedType"></xs:attributeGroup>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="minOccurs" type="xs:string" use="optional"/>
								<xs:attribute name="maxOccurs" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="output">
				<xs:complexType>
					<xs:attributeGroup ref="SchemaDervivedType"></xs:attributeGroup>
					<xs:attribute name="minOccurs" type="xs:string" use="optional"/>
					<xs:attribute name="maxOccurs" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="exceptions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="exception" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:simpleType name="secureValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="INTEGRITY"/>
			<xs:enumeration value="PRIVACY"/>
			<xs:enumeration value="EITHER"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
