cagrid-1-0/caGrid/projects/introduce/schema/Methods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Shannon Hastings  -->
<xs:schema xmlns="gme://gov.nih.nci.cagrid.introduce/1/Methods" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="gme://gov.nih.nci.cagrid.introduce/1/Methods" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:attributeGroup name="SchemaDervivedType">
		<xs:attribute name="className" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify the class name of an existing object that can
					serialize to, and deserialize from, the document defined by the namespace:type
					attributes. If it is omitted, it is assumed it is to be created using the
					schema.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isArray" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify if this class is to be used as an array.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namespace" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Used to specify the namespace of the schema which defines the
					type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Used to specify the name of the type in the schema which defines
					the type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="location" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Used to specify the location schema on the local filesystem. If it
					is omitted, it is assumed it can be retrieved from a GME.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="Methods" type="MethodsType">
		<xs:annotation>
			<xs:documentation>List of methods for this interface.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MethodsType">
		<xs:sequence>
			<xs:element name="Method" maxOccurs="unbounded" type="MethodType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MethodType">
		<xs:sequence>
			<xs:element name="Inputs" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Input" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attributeGroup ref="SchemaDervivedType"></xs:attributeGroup>
								<xs:attribute name="name" type="xs:string" use="required"/>
								<xs:attribute name="minOccurs" type="xs:string" use="optional"/>
								<xs:attribute name="maxOccurs" type="xs:string" use="optional"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Output">
				<xs:complexType>
					<xs:attributeGroup ref="SchemaDervivedType"></xs:attributeGroup>
					<xs:attribute name="minOccurs" type="xs:string" use="optional"/>
					<xs:attribute name="maxOccurs" type="xs:string" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Exceptions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Exception" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="name" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="MethodSecurity" minOccurs="0" maxOccurs="1" type="MethodSecurityType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	
	<xs:complexType name="MethodSecurityType">
		<xs:sequence>
			<xs:element name="SecureCommunication" minOccurs="0" maxOccurs="1" type="SecureCommunicationMethodType"/>
			<xs:element name="AuthenticationMethod" minOccurs="0" maxOccurs="1" type="AuthenticationMethodType"/>
			<xs:element name="AnonymousClients" minOccurs="0" maxOccurs="1" type="AnonymousClientsType"/>
			<xs:element name="ClientAuthorization" minOccurs="0" maxOccurs="1" type="ClientAuthorizationType"/>
		</xs:sequence>
	</xs:complexType>

	
	<xs:simpleType name="SecureCommunicationMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="GSI_Transport_Level_Security"/>
			<xs:enumeration value="GSI_Secure_Conversation"/>
			<xs:enumeration value="GSI_Secure_Message"/>	
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AuthenticationMethodType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Integrity"/>
			<xs:enumeration value="Privacy"/>
			<xs:enumeration value="Integrity_Or_Privacy"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AnonymousClientsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="ClientAuthorizationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Self"/>
			<xs:enumeration value="Host"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
