cagrid-1-0/caGrid/projects/introduce/schema/Security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="gme://gov.nih.nci.cagrid.introduce/1/Security" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="gme://gov.nih.nci.cagrid.introduce/1/Security" elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	
	<xs:complexType name="MethodSecurity">
		<xs:sequence>
			<xs:element name="MethodSecuritySetting" minOccurs="1" maxOccurs="1" type="MethodSecurityType"/>
			<xs:element name="TransportLevelSecurity" minOccurs="1" maxOccurs="1" type="TransportLevelSecurity"/>
			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TransportLevelSecurity">
		<xs:sequence>
			<xs:element name="AuthMethod" minOccurs="1" maxOccurs="1" type="AuthenticationMethod"/>
			<xs:element name="AnonymousClients" minOccurs="1" maxOccurs="1" type="AnonymousCommunication"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SecureConversation">
		<xs:sequence>
			<xs:element name="AuthMethod" minOccurs="1" maxOccurs="1" type="AuthenticationMethod"/>
			<xs:element name="AnonymousClients" minOccurs="1" maxOccurs="1" type="AnonymousCommunication"/>
			<xs:element name="ContextLifetime" minOccurs="0" maxOccurs="1" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SecureMessage">
		<xs:sequence>
			<xs:element name="AuthMethod" minOccurs="1" maxOccurs="1" type="AuthenticationMethod"/>
			<xs:element name="ReplayAttackInterval" minOccurs="0" maxOccurs="1" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="MethodSecurityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Default"/>
			<xs:enumeration value="None"/>
			<xs:enumeration value="Custom"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AnonymousCommunication">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="AuthenticationMethod">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Integrity"/>
			<xs:enumeration value="Privacy"/>
			<xs:enumeration value="Integrity_Or_Privacy"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
