cagrid-1-0/caGrid/projects/globalModelExchange/schema/GlobalModelExchange/GlobalModelExchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://gme.cagrid.org/GlobalModelExchange" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns2="http://gme.cagrid.org/GlobalModelExchange/types" xmlns:ns1="gme://gme.cagrid.org/1/GlobalModelExchange" xmlns:ns0="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns3="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" name="GlobalModelExchange" targetNamespace="http://gme.cagrid.org/GlobalModelExchange">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://gme.cagrid.org/GlobalModelExchange" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://gme.cagrid.org/GlobalModelExchange/types" schemaLocation="./GlobalModelExchangeTypes.xsd" />
      <import namespace="gme://gme.cagrid.org/1/GlobalModelExchange" schemaLocation="./gme.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <element name="AddSchemasRequest">
        <complexType>
          <sequence>
            <element name="schemas">
              <complexType>
                <sequence>
                  <element ref="ns1:Schema" minOccurs="1" maxOccurs="unbounded" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="AddSchemasResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetNamespacesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetNamespacesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:Namespace" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GlobalModelExchangeResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns0:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="AddSchemasRequest">
    <part name="parameters" element="tns:AddSchemasRequest" />
  </message>
  <message name="AddSchemasResponse">
    <part name="parameters" element="tns:AddSchemasResponse" />
  </message>
  <message name="GetNamespacesRequest">
    <part name="parameters" element="tns:GetNamespacesRequest" />
  </message>
  <message name="GetNamespacesResponse">
    <part name="parameters" element="tns:GetNamespacesResponse" />
  </message>
  <message name="SchemaAlreadyExistsFaultMessage">
    <part name="fault" element="ns2:SchemaAlreadyExists" />
  </message>
  <message name="InvalidSchemaSubmissionFaultMessage">
    <part name="fault" element="ns2:InvalidSchemaSubmission" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="GlobalModelExchangePortType" wsrp:ResourceProperties="tns:GlobalModelExchangeResourceProperties">
    <operation name="addSchemas">
      <input message="tns:AddSchemasRequest" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/AddSchemasRequest" />
      <output message="tns:AddSchemasResponse" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/AddSchemasResponse" />
      <fault name="SchemaAlreadyExists" message="tns:SchemaAlreadyExistsFaultMessage" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/SchemaAlreadyExistsFaultMessage" />
      <fault name="InvalidSchemaSubmission" message="tns:InvalidSchemaSubmissionFaultMessage" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/InvalidSchemaSubmissionFaultMessage" />
    </operation>
    <operation name="getNamespaces">
      <input message="tns:GetNamespacesRequest" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/GetNamespacesRequest" />
      <output message="tns:GetNamespacesResponse" wsa:Action="http://gme.cagrid.org/GlobalModelExchange/GetNamespacesResponse" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

