cagrid-1-0/caGrid/projects/evs/schema/EVSGridService/EVSGridService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cagrid.nci.nih.gov/EVSGridService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns3="http://cagrid.nci.nih.gov/EVSGridService/types" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns0="gme://caCORE.caCORE/3.1/gov.nih.nci.evs.domain" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.evs.service" name="EVSGridService" targetNamespace="http://cagrid.nci.nih.gov/EVSGridService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cagrid.nci.nih.gov/EVSGridService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/EVSGridService/types" schemaLocation="./EVSGridServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="gme://caCORE.caCORE/3.1/gov.nih.nci.evs.domain" schemaLocation="./3.1_gov.nih.nci.evs.domain.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.evs.service" schemaLocation="./1.0_gov.nih.nci.cagrid.evs.service.xsd" />
      <element name="GetVocabularyNamesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetVocabularyNamesResponse">
        <complexType>
          <sequence>
            <element ref="ns1:DescLogicConceptVocabularyName" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetMetaSourcesRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetMetaSourcesResponse">
        <complexType>
          <sequence>
            <element ref="ns0:Source" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchDescLogicConceptRequest">
        <complexType>
          <sequence>
            <element name="eVSDescLogicConceptSearchParams">
              <complexType>
                <sequence>
                  <element ref="ns1:EVSDescLogicConceptSearchParams" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchDescLogicConceptResponse">
        <complexType>
          <sequence>
            <element ref="ns0:DescLogicConcept" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchMetaThesaurusRequest">
        <complexType>
          <sequence>
            <element name="eVSMetaThesaurusSearchParams">
              <complexType>
                <sequence>
                  <element ref="ns1:EVSMetaThesaurusSearchParams" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchMetaThesaurusResponse">
        <complexType>
          <sequence>
            <element ref="ns0:MetaThesaurusConcept" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetHistoryRecordsRequest">
        <complexType>
          <sequence>
            <element name="eVSHistoryRecordsSearchParams">
              <complexType>
                <sequence>
                  <element ref="ns1:EVSHistoryRecordsSearchParams" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetHistoryRecordsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:HistoryRecord" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="SearchSourceByCodeRequest">
        <complexType>
          <sequence>
            <element name="eVSSourceSearchParams">
              <complexType>
                <sequence>
                  <element ref="ns1:EVSSourceSearchParams" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="SearchSourceByCodeResponse">
        <complexType>
          <sequence>
            <element ref="ns0:MetaThesaurusConcept" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="EVSGridServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns2:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetVocabularyNamesRequest">
    <part name="parameters" element="tns:GetVocabularyNamesRequest" />
  </message>
  <message name="GetVocabularyNamesResponse">
    <part name="parameters" element="tns:GetVocabularyNamesResponse" />
  </message>
  <message name="GetMetaSourcesRequest">
    <part name="parameters" element="tns:GetMetaSourcesRequest" />
  </message>
  <message name="GetMetaSourcesResponse">
    <part name="parameters" element="tns:GetMetaSourcesResponse" />
  </message>
  <message name="SearchDescLogicConceptRequest">
    <part name="parameters" element="tns:SearchDescLogicConceptRequest" />
  </message>
  <message name="SearchDescLogicConceptResponse">
    <part name="parameters" element="tns:SearchDescLogicConceptResponse" />
  </message>
  <message name="SearchMetaThesaurusRequest">
    <part name="parameters" element="tns:SearchMetaThesaurusRequest" />
  </message>
  <message name="SearchMetaThesaurusResponse">
    <part name="parameters" element="tns:SearchMetaThesaurusResponse" />
  </message>
  <message name="GetHistoryRecordsRequest">
    <part name="parameters" element="tns:GetHistoryRecordsRequest" />
  </message>
  <message name="GetHistoryRecordsResponse">
    <part name="parameters" element="tns:GetHistoryRecordsResponse" />
  </message>
  <message name="SearchSourceByCodeRequest">
    <part name="parameters" element="tns:SearchSourceByCodeRequest" />
  </message>
  <message name="SearchSourceByCodeResponse">
    <part name="parameters" element="tns:SearchSourceByCodeResponse" />
  </message>
  <message name="InvalidInputExceptionFaultMessage">
    <part name="fault" element="ns3:InvalidInputException" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="EVSGridServicePortType" wsrp:ResourceProperties="tns:EVSGridServiceResourceProperties">
    <operation name="getVocabularyNames">
      <input message="tns:GetVocabularyNamesRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetVocabularyNamesRequest" />
      <output message="tns:GetVocabularyNamesResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetVocabularyNamesResponse" />
    </operation>
    <operation name="getMetaSources">
      <input message="tns:GetMetaSourcesRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetMetaSourcesRequest" />
      <output message="tns:GetMetaSourcesResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetMetaSourcesResponse" />
    </operation>
    <operation name="searchDescLogicConcept">
      <input message="tns:SearchDescLogicConceptRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchDescLogicConceptRequest" />
      <output message="tns:SearchDescLogicConceptResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchDescLogicConceptResponse" />
    </operation>
    <operation name="searchMetaThesaurus">
      <input message="tns:SearchMetaThesaurusRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchMetaThesaurusRequest" />
      <output message="tns:SearchMetaThesaurusResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchMetaThesaurusResponse" />
      <fault name="InvalidInputException" message="tns:InvalidInputExceptionFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/InvalidInputExceptionFaultMessage" />
    </operation>
    <operation name="getHistoryRecords">
      <input message="tns:GetHistoryRecordsRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetHistoryRecordsRequest" />
      <output message="tns:GetHistoryRecordsResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/GetHistoryRecordsResponse" />
    </operation>
    <operation name="searchSourceByCode">
      <input message="tns:SearchSourceByCodeRequest" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchSourceByCodeRequest" />
      <output message="tns:SearchSourceByCodeResponse" wsa:Action="http://cagrid.nci.nih.gov/EVSGridService/SearchSourceByCodeResponse" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

