cagrid-1-0/caGrid/projects/gridgrouper/schema/GridGrouper/GridGrouper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://cagrid.nci.nih.gov/GridGrouper" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" name="GridGrouper" targetNamespace="http://cagrid.nci.nih.gov/GridGrouper">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://cagrid.nci.nih.gov/1/GridGrouper" xmlns:ns2="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://cagrid.nci.nih.gov/GridGrouper" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/GridGrouper" schemaLocation="./gridgrouper.xsd" />
      <import namespace="http://schemas.xmlsoap.org/ws/2004/03/addressing" schemaLocation="..\ws\addressing\WS-Addressing.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd\security.xsd" />
      <element name="GetStemRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetStemResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemDescriptor" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetChildStemsRequest">
        <complexType>
          <sequence>
            <element name="parentStem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetChildStemsResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemDescriptor" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetParentStemRequest">
        <complexType>
          <sequence>
            <element name="childStem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetParentStemResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemDescriptor" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStemDescriptionRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStemDescriptionResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemDescriptor" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStemDisplayExtensionRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="displayExtension" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdateStemDisplayExtensionResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemDescriptor" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetSubjectsWithStemPrivilegeRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="privilege">
              <complexType>
                <sequence>
                  <element ref="ns0:StemPrivilegeType" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetSubjectsWithStemPrivilegeResponse">
        <complexType>
          <sequence>
            <element ref="ns0:SubjectIdentifier" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetStemPrivilegesRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="subject">
              <complexType>
                <sequence>
                  <element ref="ns0:SubjectIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetStemPrivilegesResponse">
        <complexType>
          <sequence>
            <element ref="ns0:StemPrivilege" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="HasStemPrivilegeRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="subject">
              <complexType>
                <sequence>
                  <element ref="ns0:SubjectIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="privilege">
              <complexType>
                <sequence>
                  <element ref="ns0:StemPrivilegeType" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="HasStemPrivilegeResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GrantStemPrivilegeRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="subject">
              <complexType>
                <sequence>
                  <element ref="ns0:SubjectIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="privilege">
              <complexType>
                <sequence>
                  <element ref="ns0:StemPrivilegeType" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GrantStemPrivilegeResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RevokeStemPrivilegeRequest">
        <complexType>
          <sequence>
            <element name="stem">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="subject">
              <complexType>
                <sequence>
                  <element ref="ns0:SubjectIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="privilege">
              <complexType>
                <sequence>
                  <element ref="ns0:StemPrivilegeType" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="RevokeStemPrivilegeResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:boolean" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="FindStemRequest">
        <complexType>
          <sequence>
            <element name="stemIdentifier">
              <complexType>
                <sequence>
                  <element ref="ns0:StemIdentifier" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="FindStemResponse">
        <complexType>
          <sequence>
            <element ref="ns2:EndpointReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GridGrouperRuntimeFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="StemNotFoundFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="InsufficientPrivilegeFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="StemModifyFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="GrantPrivilegeFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="SchemaFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="RevokePrivilegeFault">
        <complexType>
          <complexContent>
            <extension base="wsrbf:BaseFaultType" />
          </complexContent>
        </complexType>
      </element>
      <element name="GridGrouperResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetStemRequest">
    <part name="parameters" element="tns:GetStemRequest" />
  </message>
  <message name="GetStemResponse">
    <part name="parameters" element="tns:GetStemResponse" />
  </message>
  <message name="GetChildStemsRequest">
    <part name="parameters" element="tns:GetChildStemsRequest" />
  </message>
  <message name="GetChildStemsResponse">
    <part name="parameters" element="tns:GetChildStemsResponse" />
  </message>
  <message name="GetParentStemRequest">
    <part name="parameters" element="tns:GetParentStemRequest" />
  </message>
  <message name="GetParentStemResponse">
    <part name="parameters" element="tns:GetParentStemResponse" />
  </message>
  <message name="UpdateStemDescriptionRequest">
    <part name="parameters" element="tns:UpdateStemDescriptionRequest" />
  </message>
  <message name="UpdateStemDescriptionResponse">
    <part name="parameters" element="tns:UpdateStemDescriptionResponse" />
  </message>
  <message name="UpdateStemDisplayExtensionRequest">
    <part name="parameters" element="tns:UpdateStemDisplayExtensionRequest" />
  </message>
  <message name="UpdateStemDisplayExtensionResponse">
    <part name="parameters" element="tns:UpdateStemDisplayExtensionResponse" />
  </message>
  <message name="GetSubjectsWithStemPrivilegeRequest">
    <part name="parameters" element="tns:GetSubjectsWithStemPrivilegeRequest" />
  </message>
  <message name="GetSubjectsWithStemPrivilegeResponse">
    <part name="parameters" element="tns:GetSubjectsWithStemPrivilegeResponse" />
  </message>
  <message name="GetStemPrivilegesRequest">
    <part name="parameters" element="tns:GetStemPrivilegesRequest" />
  </message>
  <message name="GetStemPrivilegesResponse">
    <part name="parameters" element="tns:GetStemPrivilegesResponse" />
  </message>
  <message name="HasStemPrivilegeRequest">
    <part name="parameters" element="tns:HasStemPrivilegeRequest" />
  </message>
  <message name="HasStemPrivilegeResponse">
    <part name="parameters" element="tns:HasStemPrivilegeResponse" />
  </message>
  <message name="GrantStemPrivilegeRequest">
    <part name="parameters" element="tns:GrantStemPrivilegeRequest" />
  </message>
  <message name="GrantStemPrivilegeResponse">
    <part name="parameters" element="tns:GrantStemPrivilegeResponse" />
  </message>
  <message name="RevokeStemPrivilegeRequest">
    <part name="parameters" element="tns:RevokeStemPrivilegeRequest" />
  </message>
  <message name="RevokeStemPrivilegeResponse">
    <part name="parameters" element="tns:RevokeStemPrivilegeResponse" />
  </message>
  <message name="FindStemRequest">
    <part name="parameters" element="tns:FindStemRequest" />
  </message>
  <message name="FindStemResponse">
    <part name="parameters" element="tns:FindStemResponse" />
  </message>
  <message name="GridGrouperRuntimeFaultFaultMessage">
    <part name="fault" element="tns:GridGrouperRuntimeFault" />
  </message>
  <message name="StemNotFoundFaultFaultMessage">
    <part name="fault" element="tns:StemNotFoundFault" />
  </message>
  <message name="InsufficientPrivilegeFaultFaultMessage">
    <part name="fault" element="tns:InsufficientPrivilegeFault" />
  </message>
  <message name="StemModifyFaultFaultMessage">
    <part name="fault" element="tns:StemModifyFault" />
  </message>
  <message name="GrantPrivilegeFaultFaultMessage">
    <part name="fault" element="tns:GrantPrivilegeFault" />
  </message>
  <message name="SchemaFaultFaultMessage">
    <part name="fault" element="tns:SchemaFault" />
  </message>
  <message name="RevokePrivilegeFaultFaultMessage">
    <part name="fault" element="tns:RevokePrivilegeFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="GridGrouperPortType" wsrp:ResourceProperties="tns:GridGrouperResourceProperties">
    <operation name="getStem">
      <input message="tns:GetStemRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetStemRequest" />
      <output message="tns:GetStemResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetStemResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="getChildStems">
      <input message="tns:GetChildStemsRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetChildStemsRequest" />
      <output message="tns:GetChildStemsResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetChildStemsResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="getParentStem">
      <input message="tns:GetParentStemRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetParentStemRequest" />
      <output message="tns:GetParentStemResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetParentStemResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="updateStemDescription">
      <input message="tns:UpdateStemDescriptionRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/UpdateStemDescriptionRequest" />
      <output message="tns:UpdateStemDescriptionResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/UpdateStemDescriptionResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="InsufficientPrivilegeFault" message="tns:InsufficientPrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/InsufficientPrivilegeFaultFaultMessage" />
      <fault name="StemModifyFault" message="tns:StemModifyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemModifyFaultFaultMessage" />
    </operation>
    <operation name="updateStemDisplayExtension">
      <input message="tns:UpdateStemDisplayExtensionRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/UpdateStemDisplayExtensionRequest" />
      <output message="tns:UpdateStemDisplayExtensionResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/UpdateStemDisplayExtensionResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="InsufficientPrivilegeFault" message="tns:InsufficientPrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/InsufficientPrivilegeFaultFaultMessage" />
      <fault name="StemModifyFault" message="tns:StemModifyFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemModifyFaultFaultMessage" />
    </operation>
    <operation name="getSubjectsWithStemPrivilege">
      <input message="tns:GetSubjectsWithStemPrivilegeRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetSubjectsWithStemPrivilegeRequest" />
      <output message="tns:GetSubjectsWithStemPrivilegeResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetSubjectsWithStemPrivilegeResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="getStemPrivileges">
      <input message="tns:GetStemPrivilegesRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetStemPrivilegesRequest" />
      <output message="tns:GetStemPrivilegesResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GetStemPrivilegesResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="hasStemPrivilege">
      <input message="tns:HasStemPrivilegeRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/HasStemPrivilegeRequest" />
      <output message="tns:HasStemPrivilegeResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/HasStemPrivilegeResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
    </operation>
    <operation name="grantStemPrivilege">
      <input message="tns:GrantStemPrivilegeRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GrantStemPrivilegeRequest" />
      <output message="tns:GrantStemPrivilegeResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GrantStemPrivilegeResponse" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
      <fault name="GrantPrivilegeFault" message="tns:GrantPrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GrantPrivilegeFaultFaultMessage" />
      <fault name="InsufficientPrivilegeFault" message="tns:InsufficientPrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/InsufficientPrivilegeFaultFaultMessage" />
      <fault name="SchemaFault" message="tns:SchemaFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/SchemaFaultFaultMessage" />
    </operation>
    <operation name="revokeStemPrivilege">
      <input message="tns:RevokeStemPrivilegeRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/RevokeStemPrivilegeRequest" />
      <output message="tns:RevokeStemPrivilegeResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/RevokeStemPrivilegeResponse" />
      <fault name="StemNotFoundFault" message="tns:StemNotFoundFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/StemNotFoundFaultFaultMessage" />
      <fault name="InsufficientPrivilegeFault" message="tns:InsufficientPrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/InsufficientPrivilegeFaultFaultMessage" />
      <fault name="RevokePrivilegeFault" message="tns:RevokePrivilegeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/RevokePrivilegeFaultFaultMessage" />
      <fault name="SchemaFault" message="tns:SchemaFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/SchemaFaultFaultMessage" />
      <fault name="GridGrouperRuntimeFault" message="tns:GridGrouperRuntimeFaultFaultMessage" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/GridGrouperRuntimeFaultFaultMessage" />
    </operation>
    <operation name="findStem">
      <input message="tns:FindStemRequest" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/FindStemRequest" />
      <output message="tns:FindStemResponse" wsa:Action="http://cagrid.nci.nih.gov/GridGrouper/FindStemResponse" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

