cagrid-1-0/Demos/translationServices/schema/MageTranslationServices/gov.nih.nci.mageom.domain.BioAssayData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioEvent="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain.BioAssay="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.QuantitationType="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.QuantitationType" xmlns:gov.nih.nci.mageom.domain.DesignElement="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" targetNamespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.QuantitationType" schemaLocation="gov.nih.nci.mageom.domain.QuantitationType.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" schemaLocation="gov.nih.nci.mageom.domain.BioAssay.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioEvent" schemaLocation="gov.nih.nci.mageom.domain.BioEvent.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.DesignElement" schemaLocation="gov.nih.nci.mageom.domain.DesignElement.xsd" />
  <xs:element name="DesignElementMap" type="DesignElementMap" />
  <xs:complexType name="DesignElementMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataCube" type="BioDataCube" />
  <xs:complexType name="BioDataCube">
    <xs:complexContent>
      <xs:extension base="BioDataValues">
        <!--
        <xs:sequence >
          <xs:element name="cube" type="xs:string"/>
        </xs:sequence>
        -->
        <xs:sequence/>
        <xs:attribute name="cube" type="xs:string"/>
        <xs:attribute name="order">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="BDQ" />
              <xs:enumeration value="BQD" />
              <xs:enumeration value="DBQ" />
              <xs:enumeration value="DQB" />
              <xs:enumeration value="QBD" />
              <xs:enumeration value="QDB" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureDimension" type="FeatureDimension" />
  <xs:complexType name="FeatureDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="containedFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Feature" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeDimension" type="QuantitationTypeDimension" />
  <xs:complexType name="QuantitationTypeDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="quantitationTypes" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:StandardQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:SpecializedQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataValues" type="BioDataValues" />
  <xs:complexType name="BioDataValues">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeSequenceDimension" type="CompositeSequenceDimension" />
  <xs:complexType name="CompositeSequenceDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="compositeSequences" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:CompositeSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasuredBioAssayData" type="MeasuredBioAssayData" />
  <xs:complexType name="MeasuredBioAssayData">
    <xs:complexContent>
      <xs:extension base="BioAssayData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayDatum" type="BioAssayDatum" />
  <xs:complexType name="BioAssayDatum">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="bioAssay" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:MeasuredBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:PhysicalBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:DerivedBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:BioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="quantitationType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:StandardQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:SpecializedQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="designElement" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Feature" />
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:CompositeSequence" />
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Reporter" />
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:DesignElement" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeMap" type="QuantitationTypeMap" />
  <xs:complexType name="QuantitationTypeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence>
          <xs:element name="targetQuantitationType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:StandardQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:SpecializedQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourcesQuantitationType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:StandardQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:SpecializedQuantitationType" />
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivedBioAssayData" type="DerivedBioAssayData" />
  <xs:complexType name="DerivedBioAssayData">
    <xs:complexContent>
      <xs:extension base="BioAssayData">
        <xs:sequence>
          <xs:element name="producerTransformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Transformation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayData" type="BioAssayData" />
  <xs:complexType name="BioAssayData">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="quantitationTypeDimension" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="QuantitationTypeDimension" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="summaryStatistics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain:NameValueType" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioAssayDimension" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="BioAssayDimension" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="designElementDimension" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="FeatureDimension" />
                <xs:element ref="CompositeSequenceDimension" />
                <xs:element ref="ReporterDimension" />
                <xs:element ref="DesignElementDimension" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioDataValues" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="BioDataCube" />
                <xs:element ref="BioDataTuples" />
                <xs:element ref="BioDataValues" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeMapping" type="QuantitationTypeMapping" />
  <xs:complexType name="QuantitationTypeMapping">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="quantitationTypeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="QuantitationTypeMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayDimension" type="BioAssayDimension" />
  <xs:complexType name="BioAssayDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="bioAssays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:MeasuredBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:PhysicalBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:DerivedBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:BioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayMapping" type="BioAssayMapping" />
  <xs:complexType name="BioAssayMapping">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="bioAssayMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BioAssayMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataTuples" type="BioDataTuples" />
  <xs:complexType name="BioDataTuples">
    <xs:complexContent>
      <xs:extension base="BioDataValues">
        <xs:sequence>
          <xs:element name="bioAssayTupleData" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="BioAssayDatum" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterDimension" type="ReporterDimension" />
  <xs:complexType name="ReporterDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Reporter" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transformation" type="Transformation" />
  <xs:complexType name="Transformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:BioEvent">
        <xs:sequence>
          <xs:element name="quantitationTypeMapping" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="QuantitationTypeMapping" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="designElementMapping" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="DesignElementMapping" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioAssayMapping" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="BioAssayMapping" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivedBioAssayDataTarget" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="DerivedBioAssayData" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioAssayDataSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MeasuredBioAssayData" />
                <xs:element ref="DerivedBioAssayData" />
                <xs:element ref="BioAssayData" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElementDimension" type="DesignElementDimension" />
  <xs:complexType name="DesignElementDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayMap" type="BioAssayMap" />
  <xs:complexType name="BioAssayMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence>
          <xs:element name="bioAssayMapTarget" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:DerivedBioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="sourceBioAssays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:MeasuredBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:PhysicalBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:DerivedBioAssay" />
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:BioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElementMapping" type="DesignElementMapping" />
  <xs:complexType name="DesignElementMapping">
    <xs:sequence>
      <xs:element name="designElementMaps" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:CompositeCompositeMap" />
            <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:FeatureReporterMap" />
            <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:ReporterCompositeMap" />
            <xs:element ref="DesignElementMap" />
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

