cagrid-1-0/caGrid/projects/dorian/schema/cagrid/gums/GUMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GUMS"
    targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    	xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
	xmlns:wsbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<wsdl:import 
    namespace=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    location="../../wsrf/properties/WS-ResourceProperties.wsdl" />
    <wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
		location="../../wsrf/faults/WS-BaseFaults.wsdl" />
    
<import location="gums.xsd" namespace="http://cagrid.nci.nih.gov/gums/bean"/>
<import location="gums-idp.xsd" namespace="http://cagrid.nci.nih.gov/gums/idp/bean"/>
<import location="gums-ifs.xsd" namespace="http://cagrid.nci.nih.gov/gums/ifs/bean"/>

<!--============================================================

                      T Y P E S
                      
  ============================================================-->
<types>
<xsd:schema targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:gums="http://cagrid.nci.nih.gov/gums/bean"
    xmlns:ifs="http://cagrid.nci.nih.gov/gums/ifs/bean"
    xmlns:idp="http://cagrid.nci.nih.gov/gums/idp/bean"
    >

	<!-- COMMON TYPES -->    

	<xsd:element name="gumsInternalFault" type="gums:GUMSInternalFault"/>

	<xsd:element name="permissionDeniedFault" type="gums:PermissionDeniedFault"/>

   <!-- IDP TYPES -->
 
	<xsd:element name="idpRegister" type="idp:application"/>

	<xsd:element name="idpRegisterResponse" type="xsd:string"/>
	
	<xsd:element name="idpFindUsers" type="idp:IdPUserFilter"/>
	
	<xsd:element name="idpFindUsersResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idpUser" minOccurs="0" maxOccurs="unbounded" type="idp:IdPUser"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	  <xsd:element name="idpUpdateUser" type="idp:IdPUser"/>
	
	
	<xsd:element name="idpUpdateUserResponse">
		<xsd:complexType/>
	</xsd:element>
	
	<xsd:element name="idpRemoveUser" type="xsd:string"/>
	
	<xsd:element name="idpRemoveUserResponse">
		<xsd:complexType/>
	</xsd:element>
	
	
	
	
	<xsd:element name="idpAuthenticate" type="idp:basicAuthCredential"/>	
	<xsd:element name="idpAuthenticateResponse" type="gums:SAMLAssertion"/>

	
	<xsd:element name="invalidUserPropertyFault" type="idp:InvalidUserPropertyFault"/>
	<xsd:element name="noSuchUserFault" type="idp:NoSuchUserFault"/>
	
   
   
	<!-- IFS TYPES -->
	
	<xsd:element name="IFSCreateProxy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SAMLAssertion" minOccurs="1" maxOccurs="1" type="gums:SAMLAssertion"/>
				<xsd:element name="PublicKey" minOccurs="1" maxOccurs="1" type="ifs:PublicKey"/>
				<xsd:element name="ProxyLifetime" minOccurs="1" maxOccurs="1" type="ifs:ProxyLifetime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSCreateProxyResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="certificates" minOccurs="0" maxOccurs="unbounded" type="ifs:X509Certificate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSFindTrustedIdPs">
			<xsd:complexType/>
	</xsd:element>
	
	<xsd:element name="IFSFindTrustedIdPsResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idps" minOccurs="0" maxOccurs="unbounded" type="ifs:TrustedIdP"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSFindUsers" type="ifs:IFSUserFilter"/>
	
	<xsd:element name="IFSFindUsersResponse">
			<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="users" minOccurs="0" maxOccurs="unbounded" type="ifs:IFSUser"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSUpdateUser" type="ifs:IFSUser"/>
	
	<xsd:element name="IFSUpdateUserResponse">
			<xsd:complexType/>
	</xsd:element>
	
    <xsd:element name="IFSRemoveUser" type="ifs:IFSUser"/>
	
	<xsd:element name="IFSRemoveUserResponse">
			<xsd:complexType/>
	</xsd:element>
	
	 <xsd:element name="IFSRenewUserCredentials" type="ifs:IFSUser"/>
	
	<xsd:element name="IFSRenewUserCredentialsResponse" type="ifs:IFSUser"/>
	
	
	<xsd:element name="IFSGetUserPolicies">
			<xsd:complexType/>
	</xsd:element>
	
	<xsd:element name="IFSGetUserPoliciesResponse">
			<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="policies" minOccurs="0" maxOccurs="unbounded" type="ifs:IFSUserPolicy"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSAddTrustedIdP" type="ifs:TrustedIdP"/>
	
	<xsd:element name="IFSAddTrustedIdPResponse" type="ifs:TrustedIdP"/>
	
	<xsd:element name="IFSUpdateTrustedIdP" type="ifs:TrustedIdP"/>
	
	<xsd:element name="IFSUpdateTrustedIdPResponse">
			<xsd:complexType/>
	</xsd:element>
	
	<xsd:element name="IFSRemoveTrustedIdP" type="ifs:TrustedIdP"/>
	
	<xsd:element name="IFSRemoveTrustedIdPResponse">
			<xsd:complexType/>
	</xsd:element>
	
	
	<xsd:element name="invalidAssertionFault" type="ifs:InvalidAssertionFault"/>
	<xsd:element name="invalidProxyFault" type="ifs:InvalidProxyFault"/>
	<xsd:element name="invalidUserFault" type="ifs:InvalidUserFault"/>
	<xsd:element name="userPolicyFault" type="ifs:UserPolicyFault"/>
	<xsd:element name="invalidTrustedIdPFault" type="ifs:InvalidTrustedIdPFault"/>

			
	<!-- RESOURCE PROPERTIES -->
   
	<xsd:element name="description" type="xsd:string"/>

	<xsd:element name="GUMSResourceProperties">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="tns:description" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
	
        
</xsd:schema>
</types>


<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->

<!-- IDP Messages -->

<message name="RegisterWithIdPInputMessage">
	<part name="parameters" element="tns:idpRegister"/>
</message>
<message name="RegisterWithIdPOutputMessage">
	<part name="parameters" element="tns:idpRegisterResponse"/>
</message>

<message name="IdPFindUsersInputMessage">
	<part name="parameters" element="tns:idpFindUsers"/>
</message>
<message name="IdPFindUsersOutputMessage">
	<part name="parameters" element="tns:idpFindUsersResponse"/>
</message>

<message name="IdPUpdateUserInputMessage">
	<part name="parameters" element="tns:idpUpdateUser"/>
</message>
<message name="IdPUpdateUserOutputMessage">
	<part name="parameters" element="tns:idpUpdateUserResponse"/>
</message>

<message name="IdPRemoveUserInputMessage">
	<part name="parameters" element="tns:idpRemoveUser"/>
</message>
<message name="IdPRemoveUserOutputMessage">
	<part name="parameters" element="tns:idpRemoveUserResponse"/>
</message>

<message name="IdPAuthenticateInputMessage">
	<part name="parameters" element="tns:idpAuthenticate"/>
</message>
<message name="IdPAuthenticateOutputMessage">
	<part name="parameters" element="tns:idpAuthenticateResponse"/>
</message>


	<message name="GUMSInternalFaultMessage">
		<part name="fault" element="tns:gumsInternalFault" />
	</message>
	
	<message name="InvalidUserPropertyFaultMessage">
		<part name="fault" element="tns:invalidUserPropertyFault" />
	</message>
	
	
		<message name="PermissionDeniedFaultMessage">
		<part name="fault" element="tns:permissionDeniedFault" />
	</message>
	
		<message name="NoSuchUserFaultMessage">
		<part name="fault" element="tns:noSuchUserFault" />
	</message>
	
	
<!-- IFS Messages -->
	
	<message name="IFSCreateProxyInputMessage">
		<part name="parameters" element="tns:IFSCreateProxy"/>
	</message>
	
	<message name="IFSCreateProxyOutputMessage">
		<part name="parameters" element="tns:IFSCreateProxyResponse"/>
	</message>
	
	<message name="IFSFindTrustedIdPsInputMessage">
		<part name="parameters" element="tns:IFSFindTrustedIdPs"/>
	</message>
	
	<message name="IFSFindTrustedIdPsOutputMessage">
		<part name="parameters" element="tns:IFSFindTrustedIdPsResponse"/>
	</message>
	
	<message name="IFSFindUsersInputMessage">
		<part name="parameters" element="tns:IFSFindUsers"/>
	</message>
	
	<message name="IFSFindUsersOutputMessage">
		<part name="parameters" element="tns:IFSFindUsersResponse"/>
	</message>
	
	<message name="IFSUpdateUserInputMessage">
		<part name="parameters" element="tns:IFSUpdateUser"/>
	</message>
	
	<message name="IFSUpdateUserOutputMessage">
		<part name="parameters" element="tns:IFSUpdateUserResponse"/>
	</message>
	
	<message name="IFSRemoveUserInputMessage">
		<part name="parameters" element="tns:IFSRemoveUser"/>
	</message>
	
	<message name="IFSRemoveUserOutputMessage">
		<part name="parameters" element="tns:IFSRemoveUserResponse"/>
	</message>
	
	<message name="IFSRenewUserCredentialsInputMessage">
		<part name="parameters" element="tns:IFSRenewUserCredentials"/>
	</message>
	
	<message name="IFSRenewUserCredentialsOutputMessage">
		<part name="parameters" element="tns:IFSRenewUserCredentialsResponse"/>
	</message>
	
	<message name="IFSGetUserPoliciesInputMessage">
		<part name="parameters" element="tns:IFSGetUserPolicies"/>
	</message>
	
	<message name="IFSGetUserPoliciesOutputMessage">
		<part name="parameters" element="tns:IFSGetUserPoliciesResponse"/>
	</message>
	
	<message name="IFSAddTrustedIdPInputMessage">
		<part name="parameters" element="tns:IFSAddTrustedIdP"/>
	</message>
	
	<message name="IFSAddTrustedIdPOutputMessage">
		<part name="parameters" element="tns:IFSAddTrustedIdPResponse"/>
	</message>
	
	<message name="IFSUpdateTrustedIdPInputMessage">
		<part name="parameters" element="tns:IFSUpdateTrustedIdP"/>
	</message>
	
	<message name="IFSUpdateTrustedIdPOutputMessage">
		<part name="parameters" element="tns:IFSUpdateTrustedIdPResponse"/>
	</message>
	
	<message name="IFSRemoveTrustedIdPInputMessage">
		<part name="parameters" element="tns:IFSRemoveTrustedIdP"/>
	</message>
	
	<message name="IFSRemoveTrustedIdPOutputMessage">
		<part name="parameters" element="tns:IFSRemoveTrustedIdPResponse"/>
	</message>

	<message name="InvalidAssertionFaultMessage">
		<part name="fault" element="tns:invalidAssertionFault" />
	</message>
	
	<message name="InvalidProxyFaultMessage">
		<part name="fault" element="tns:invalidProxyFault" />
	</message>
	
	<message name="InvalidUserFaultMessage">
		<part name="fault" element="tns:invalidUserFault" />
	</message>
	
	<message name="UserPolicyFaultMessage">
		<part name="fault" element="tns:userPolicyFault" />
	</message>
	
	<message name="PermissionDeniedFaultMessage">
		<part name="fault" element="tns:permissionDeniedFault" />
	</message>
	
	<message name="InvalidTrustedIdPFaultMessage">
		<part name="fault" element="tns:invalidTrustedIdPFault" />
	</message>
	


<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="GUMSPortType" 
    wsdlpp:extends="wsrpw:GetResourceProperty"
    wsrp:ResourceProperties="tns:GUMSResourceProperties">
    
	
	<operation name="registerWithIdP">
		<input message="tns:RegisterWithIdPInputMessage"/>
		<output message="tns:RegisterWithIdPOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserPropertyFaultMessage" name="InvalidUserPropertyFault"/>
	</operation>
	
	<operation name="findIdPUsers">
		<input message="tns:IdPFindUsersInputMessage"/>
		<output message="tns:IdPFindUsersOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="updateIdPUser">
		<input message="tns:IdPUpdateUserInputMessage"/>
		<output message="tns:IdPUpdateUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	    <fault message="tns:NoSuchUserFaultMessage" name="NoSuchUserFault"/>
	    <fault message="tns:InvalidUserPropertyFaultMessage" name="InvalidUserPropertyFault"/>
	</operation>
	
	<operation name="removeIdPUser">
		<input message="tns:IdPRemoveUserInputMessage"/>
		<output message="tns:IdPRemoveUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="authenticateWithIdP">
		<input message="tns:IdPAuthenticateInputMessage"/>
		<output message="tns:IdPAuthenticateOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="createProxy">
		<input message="tns:IFSCreateProxyInputMessage"/>
		<output message="tns:IFSCreateProxyOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidAssertionFaultMessage" name="InvalidAssertionFault"/>
	    <fault message="tns:InvalidProxyFaultMessage" name="InvalidProxyFault"/>
	    <fault message="tns:UserPolicyFaultMessage" name="UserPolicyFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="getTrustedIdPs">
		<input message="tns:IFSFindTrustedIdPsInputMessage"/>
		<output message="tns:IFSFindTrustedIdPsOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="addTrustedIdP">
		<input message="tns:IFSAddTrustedIdPInputMessage"/>
		<output message="tns:IFSAddTrustedIdPOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:InvalidTrustedIdPFaultMessage" name="InvalidTrustedIdPFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="updateTrustedIdP">
		<input message="tns:IFSUpdateTrustedIdPInputMessage"/>
		<output message="tns:IFSUpdateTrustedIdPOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:InvalidTrustedIdPFaultMessage" name="InvalidTrustedIdPFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="removeTrustedIdP">
		<input message="tns:IFSRemoveTrustedIdPInputMessage"/>
		<output message="tns:IFSRemoveTrustedIdPOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:InvalidTrustedIdPFaultMessage" name="InvalidTrustedIdPFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	
	
	
	<operation name="findIFSUsers">
		<input message="tns:IFSFindUsersInputMessage"/>
		<output message="tns:IFSFindUsersOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
		<operation name="updateIFSUser">
		<input message="tns:IFSUpdateUserInputMessage"/>
		<output message="tns:IFSUpdateUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	<operation name="removeIFSUser">
		<input message="tns:IFSRemoveUserInputMessage"/>
		<output message="tns:IFSRemoveUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	
	
	<operation name="renewIFSUserCredentials">
		<input message="tns:IFSRenewUserCredentialsInputMessage"/>
		<output message="tns:IFSRenewUserCredentialsOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>
	
	
	<operation name="getIFSUserPolicies">
		<input message="tns:IFSGetUserPoliciesInputMessage"/>
		<output message="tns:IFSGetUserPoliciesOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserFaultMessage" name="InvalidUserFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>


</portType>

</definitions>
