cagrid-1-0/caGrid/projects/dorian/schema/cagrid/gums/GUMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GUMS"
    targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    	xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
	xmlns:wsbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<wsdl:import 
    namespace=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    location="../../wsrf/properties/WS-ResourceProperties.wsdl" />
    <wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
		location="../../wsrf/faults/WS-BaseFaults.wsdl" />
    
<import location="gums.xsd" namespace="http://cagrid.nci.nih.gov/gums/bean"/>
<import location="gums-idp.xsd" namespace="http://cagrid.nci.nih.gov/gums/idp/bean"/>
<import location="gums-ifs.xsd" namespace="http://cagrid.nci.nih.gov/gums/ifs/bean"/>

<!--============================================================

                      T Y P E S
                      
  ============================================================-->
<types>
<xsd:schema targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:gums="http://cagrid.nci.nih.gov/gums/bean"
    xmlns:ifs="http://cagrid.nci.nih.gov/gums/ifs/bean"
    xmlns:idp="http://cagrid.nci.nih.gov/gums/idp/bean"
    >

	<!-- COMMON TYPES -->    

	<xsd:element name="gumsInternalFault" type="gums:GUMSInternalFault"/>

	<xsd:element name="permissionDeniedFault" type="gums:PermissionDeniedFault"/>

   <!-- IDP TYPES -->
 
	<xsd:element name="idpRegister" type="idp:application"/>

	<xsd:element name="idpRegisterResponse" type="xsd:string"/>
	
	<xsd:element name="idpFindUsers">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="basicAuthentication" minOccurs="1" maxOccurs="1" type="idp:basicAuthCredential"/>
				<xsd:element name="userFilter" minOccurs="1" maxOccurs="1" type="idp:IdPUserFilter"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="idpFindUsersResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="idpUser" minOccurs="0" maxOccurs="unbounded" type="idp:IdPUser"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
		<xsd:element name="idpUpdateUser">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="basicAuthentication" minOccurs="1" maxOccurs="1" type="idp:basicAuthCredential"/>
				<xsd:element name="idpUser" minOccurs="1" maxOccurs="1" type="idp:IdPUser"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="idpUpdateUserResponse">
		<xsd:complexType/>
	</xsd:element>
	
		<xsd:element name="idpRemoveUser">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="basicAuthentication" minOccurs="1" maxOccurs="1" type="idp:basicAuthCredential"/>
				<xsd:element name="idpUserId" minOccurs="1" maxOccurs="1" type="xsd:string"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="idpRemoveUserResponse">
		<xsd:complexType/>
	</xsd:element>
	
	
	
	
	<xsd:element name="idpAuthenticate" type="idp:basicAuthCredential"/>	
	<xsd:element name="idpAuthenticateResponse" type="gums:SAMLAssertion"/>

	
	<xsd:element name="invalidUserPropertyFault" type="idp:InvalidUserPropertyFault"/>
	<xsd:element name="invalidLoginFault" type="idp:InvalidLoginFault"/>
	<xsd:element name="noSuchUserFault" type="idp:NoSuchUserFault"/>
	
   
   
	<!-- IFS TYPES -->
	
	<xsd:element name="IFSCreateProxy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SAMLAssertion" minOccurs="1" maxOccurs="1" type="gums:SAMLAssertion"/>
				<xsd:element name="PublicKey" minOccurs="1" maxOccurs="1" type="ifs:PublicKey"/>
				<xsd:element name="ProxyLifetime" minOccurs="1" maxOccurs="1" type="ifs:ProxyLifetime"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="IFSCreateProxyResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="certificates" minOccurs="0" maxOccurs="unbounded" type="ifs:X509Certificate"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="invalidAssertionFault" type="ifs:InvalidAssertionFault"/>
	<xsd:element name="invalidProxyFault" type="ifs:InvalidProxyFault"/>
	<xsd:element name="userPolicyFault" type="ifs:UserPolicyFault"/>

			
	<!-- RESOURCE PROPERTIES -->
   
	<xsd:element name="description" type="xsd:string"/>

	<xsd:element name="GUMSResourceProperties">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="tns:description" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
	
        
</xsd:schema>
</types>


<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->

<!-- IDP Messages -->

<message name="RegisterWithIdPInputMessage">
	<part name="parameters" element="tns:idpRegister"/>
</message>
<message name="RegisterWithIdPOutputMessage">
	<part name="parameters" element="tns:idpRegisterResponse"/>
</message>

<message name="IdPFindUsersInputMessage">
	<part name="parameters" element="tns:idpFindUsers"/>
</message>
<message name="IdPFindUsersOutputMessage">
	<part name="parameters" element="tns:idpFindUsersResponse"/>
</message>

<message name="IdPUpdateUserInputMessage">
	<part name="parameters" element="tns:idpUpdateUser"/>
</message>
<message name="IdPUpdateUserOutputMessage">
	<part name="parameters" element="tns:idpUpdateUserResponse"/>
</message>

<message name="IdPRemoveUserInputMessage">
	<part name="parameters" element="tns:idpRemoveUser"/>
</message>
<message name="IdPRemoveUserOutputMessage">
	<part name="parameters" element="tns:idpRemoveUserResponse"/>
</message>

<message name="IdPAuthenticateInputMessage">
	<part name="parameters" element="tns:idpAuthenticate"/>
</message>
<message name="IdPAuthenticateOutputMessage">
	<part name="parameters" element="tns:idpAuthenticateResponse"/>
</message>


	<message name="GUMSInternalFaultMessage">
		<part name="fault" element="tns:gumsInternalFault" />
	</message>
	
	<message name="InvalidUserPropertyFaultMessage">
		<part name="fault" element="tns:invalidUserPropertyFault" />
	</message>
	
		<message name="InvalidLoginFaultMessage">
		<part name="fault" element="tns:invalidLoginFault" />
	</message>
	
		<message name="PermissionDeniedFaultMessage">
		<part name="fault" element="tns:permissionDeniedFault" />
	</message>
	
		<message name="NoSuchUserFaultMessage">
		<part name="fault" element="tns:noSuchUserFault" />
	</message>
	
	
<!-- IFS Messages -->
	
	<message name="IFSCreateProxyInputMessage">
		<part name="parameters" element="tns:IFSCreateProxy"/>
	</message>
	
	<message name="IFSCreateProxyOutputMessage">
		<part name="parameters" element="tns:IFSCreateProxyResponse"/>
	</message>

	<message name="InvalidAssertionFaultMessage">
		<part name="fault" element="tns:invalidAssertionFault" />
	</message>
	
	<message name="InvalidProxyFaultMessage">
		<part name="fault" element="tns:invalidProxyFault" />
	</message>
	
	<message name="UserPolicyFaultMessage">
		<part name="fault" element="tns:userPolicyFault" />
	</message>
	
	<message name="PermissionDeniedFaultMessage">
		<part name="fault" element="tns:permissionDeniedFault" />
	</message>
	



<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="GUMSPortType" 
    wsdlpp:extends="wsrpw:GetResourceProperty"
    wsrp:ResourceProperties="tns:GUMSResourceProperties">
    
	
	<operation name="registerWithIdP">
		<input message="tns:RegisterWithIdPInputMessage"/>
		<output message="tns:RegisterWithIdPOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidUserPropertyFaultMessage" name="InvalidUserPropertyFault"/>
	</operation>
	
	<operation name="idpFindUsers">
		<input message="tns:IdPFindUsersInputMessage"/>
		<output message="tns:IdPFindUsersOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	    <fault message="tns:InvalidLoginFaultMessage" name="InvalidLoginFault"/>
	</operation>
	
	<operation name="idpUpdateUser">
		<input message="tns:IdPUpdateUserInputMessage"/>
		<output message="tns:IdPUpdateUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	    <fault message="tns:InvalidLoginFaultMessage" name="InvalidLoginFault"/>
	    <fault message="tns:NoSuchUserFaultMessage" name="NoSuchUserFault"/>
	    <fault message="tns:InvalidUserPropertyFaultMessage" name="InvalidUserPropertyFault"/>
	</operation>
	
	<operation name="idpRemoveUser">
		<input message="tns:IdPRemoveUserInputMessage"/>
		<output message="tns:IdPRemoveUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	    <fault message="tns:InvalidLoginFaultMessage" name="InvalidLoginFault"/>
	</operation>
	
	<operation name="authenticate">
		<input message="tns:IdPAuthenticateInputMessage"/>
		<output message="tns:IdPAuthenticateOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidLoginFaultMessage" name="InvalidLoginFault"/>
	</operation>
	
	<operation name="createProxy">
		<input message="tns:IFSCreateProxyInputMessage"/>
		<output message="tns:IFSCreateProxyOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidAssertionFaultMessage" name="InvalidAssertionFault"/>
	    <fault message="tns:InvalidProxyFaultMessage" name="InvalidProxyFault"/>
	    <fault message="tns:UserPolicyFaultMessage" name="UserPolicyFault"/>
	    <fault message="tns:PermissionDeniedFaultMessage" name="PermissionDeniedFault"/>
	</operation>


</portType>

</definitions>
