cagrid-1-0/caGrid/projects/dorian/schema/cagrid/gums/GUMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GUMS"
    targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    	xmlns:wsbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
	xmlns:wsbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<wsdl:import 
    namespace=
    "http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    location="../../wsrf/properties/WS-ResourceProperties.wsdl" />
    <wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
		location="../../wsrf/faults/WS-BaseFaults.wsdl" />
    
<import location="gums.xsd" namespace="http://cagrid.nci.nih.gov/gums/bean"/>

<!--============================================================

                      T Y P E S
                      
  ============================================================-->
<types>
<xsd:schema targetNamespace="http://cagrid.nci.nih.gov/gums"
    xmlns:tns="http://cagrid.nci.nih.gov/gums"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:gums="http://cagrid.nci.nih.gov/gums/bean">
    

	<!-- REQUESTS AND RESPONSES -->
	
	<xsd:element name="requiredUserAttributes">
		<xsd:complexType/>
	</xsd:element>
	
	<xsd:element name="requiredUserAttributesResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="attributeDescriptors" minOccurs="0" maxOccurs="unbounded" type="gums:attributeDescriptor"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="registerUser" minOccurs="1" maxOccurs="1" type="gums:userApplication"/>
	
	<!--
	<xsd:element name="registerUser">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="application" minOccurs="1" maxOccurs="1" type="gums:userApplication"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	-->
	<xsd:element name="registerUserResponse" type="xsd:string"/>
	
	
	<xsd:element name="createProxy" type="gums:createProxyRequest"/>
	<xsd:element name="createProxyResponse" type="xsd:string"/>


	<xsd:element name="gumsInternalFault" type="gums:GUMSInternalFault"/>
	<xsd:element name="invalidApplicationFault" type="gums:InvalidApplicationFault"/>
			
	<!-- RESOURCE PROPERTIES -->
   
	<xsd:element name="description" type="xsd:string"/>

	<xsd:element name="GUMSResourceProperties">
	<xsd:complexType>
		<xsd:sequence>
			<xsd:element ref="tns:description" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	</xsd:element>
	
        
</xsd:schema>
</types>


<!--============================================================

                       M E S S A G E S
                      
  ============================================================-->
<message name="CreateProxyInputMessage">
	<part name="parameters" element="tns:createProxy"/>
</message>
<message name="CreateProxyOutputMessage">
	<part name="parameters" element="tns:createProxyResponse"/>
</message>

<message name="GetRequiredUserAttributesInputMessage">
	<part name="parameters" element="tns:requiredUserAttributes"/>
</message>
<message name="GetRequiredUserAttributesOutputMessage">
	<part name="parameters" element="tns:requiredUserAttributesResponse"/>
</message>

<message name="RegisterUserInputMessage">
	<part name="parameters" element="tns:registerUser"/>
</message>
<message name="RegisterUserOutputMessage">
	<part name="parameters" element="tns:registerUserResponse"/>
</message>


	<message name="GUMSInternalFaultMessage">
		<part name="fault" element="tns:gumsInternalFault" />
	</message>
	
	<message name="InvalidApplicationFaultMessage">
		<part name="fault" element="tns:invalidApplicationFault" />
	</message>



<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="GUMSPortType" 
    wsdlpp:extends="wsrpw:GetResourceProperty"
    wsrp:ResourceProperties="tns:GUMSResourceProperties">
    
    <operation name="getRequiredUserAttributes">
		<input message="tns:GetRequiredUserAttributesInputMessage"/>
		<output message="tns:GetRequiredUserAttributesOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFaultMessage"/>
	</operation>
	
	  <operation name="registerUser">
		<input message="tns:RegisterUserInputMessage"/>
		<output message="tns:RegisterUserOutputMessage"/>
		<fault message="tns:GUMSInternalFaultMessage" name="GUMSInternalFault"/>
	    <fault message="tns:InvalidApplicationFaultMessage" name="InvalidApplicationFault"/>
	</operation>

	<operation name="createProxy">
		<input message="tns:CreateProxyInputMessage"/>
		<output message="tns:CreateProxyOutputMessage"/>
	</operation>
        


</portType>

</definitions>
