cagrid-1-0/Applications/caarray/schema/CaArraySvc/gov.nih.nci.mageom.domain.Array.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Array" xmlns:gov.nih.nci.mageom.domain.AuditAndSecurity="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.AuditAndSecurity" xmlns:gov.nih.nci.mageom.domain.Description="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.DesignElement="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain.ArrayDesign="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.ArrayDesign" xmlns:gov.nih.nci.mageom.domain.BioMaterial="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioMaterial" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Measurement" xmlns:gov.nih.nci.mageom.domain.Protocol="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Protocol" targetNamespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Array" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.DesignElement" schemaLocation="gov.nih.nci.mageom.domain.DesignElement.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.AuditAndSecurity" schemaLocation="gov.nih.nci.mageom.domain.AuditAndSecurity.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Protocol" schemaLocation="gov.nih.nci.mageom.domain.Protocol.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.ArrayDesign" schemaLocation="gov.nih.nci.mageom.domain.ArrayDesign.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioMaterial" schemaLocation="gov.nih.nci.mageom.domain.BioMaterial.xsd" />
  <xs:element name="PositionDelta" type="PositionDelta" />
  <xs:complexType name="PositionDelta">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="distanceUnit" type="gov.nih.nci.mageom.domain.Measurement:DistanceUnit" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="deltaX" type="xs:float" />
        <xs:attribute name="deltaY" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ZoneDefect" type="ZoneDefect" />
  <xs:complexType name="ZoneDefect">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="positionDelta" type="PositionDelta" minOccurs="0" maxOccurs="1" />
          <xs:element name="defectType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
          <xs:element name="zone" type="gov.nih.nci.mageom.domain.ArrayDesign:Zone" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrayManufacture" type="ArrayManufacture" />
  <xs:complexType name="ArrayManufacture">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="arrayManufacturers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Contact" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arrays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Array" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="qualityControlStatistics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain:NameValueType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="protocolApplications" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.Protocol:ProtocolApplication" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureLIMSs" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ManufactureLIMS" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="manufacturingDate" type="xs:string" />
        <xs:attribute name="tolerance" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrayManufactureDeviation" type="ArrayManufactureDeviation" />
  <xs:complexType name="ArrayManufactureDeviation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="featureDefects" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="FeatureDefect" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="adjustments" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ZoneDefect" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Fiducial" type="Fiducial" />
  <xs:complexType name="Fiducial">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Describable">
        <xs:sequence>
          <xs:element name="position" type="gov.nih.nci.mageom.domain.DesignElement:Position" minOccurs="0" maxOccurs="1" />
          <xs:element name="distanceUnit" type="gov.nih.nci.mageom.domain.Measurement:DistanceUnit" minOccurs="0" maxOccurs="1" />
          <xs:element name="fiducialType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManufactureLIMSBiomaterial" type="ManufactureLIMSBiomaterial" />
  <xs:complexType name="ManufactureLIMSBiomaterial">
    <xs:complexContent>
      <xs:extension base="ManufactureLIMS">
        <xs:sequence />
        <xs:attribute name="bioMaterialPlateCol" type="xs:string" />
        <xs:attribute name="bioMaterialPlateIdentifier" type="xs:string" />
        <xs:attribute name="bioMaterialPlateRow" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArrayGroup" type="ArrayGroup" />
  <xs:complexType name="ArrayGroup">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="distanceUnit" type="gov.nih.nci.mageom.domain.Measurement:DistanceUnit" minOccurs="0" maxOccurs="1" />
          <xs:element name="fiducials" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Fiducial" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arrays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Array" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="substrateType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="arraySpacingX" type="xs:float" />
        <xs:attribute name="barcode" type="xs:string" />
        <xs:attribute name="length" type="xs:float" />
        <xs:attribute name="numArrays" type="xs:int" />
        <xs:attribute name="orientationMark" type="xs:string" />
        <xs:attribute name="orientationMarkPosition">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="top" />
              <xs:enumeration value="bottom" />
              <xs:enumeration value="left" />
              <xs:enumeration value="right" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="width" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Array" type="Array" />
  <xs:complexType name="Array">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="arrayDesign" type="gov.nih.nci.mageom.domain.ArrayDesign:ArrayDesign" minOccurs="0" maxOccurs="1" />
          <xs:element name="arrayGroup" type="ArrayGroup" minOccurs="0" maxOccurs="1" />
          <xs:element name="arrayManufactureDeviations" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ArrayManufactureDeviation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="information" type="ArrayManufacture" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="arrayIdentifier" type="xs:string" />
        <xs:attribute name="arrayXOrigin" type="xs:float" />
        <xs:attribute name="arrayYOrigin" type="xs:float" />
        <xs:attribute name="originRelativeTo" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ManufactureLIMS" type="ManufactureLIMS" />
  <xs:complexType name="ManufactureLIMS">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Describable">
        <xs:sequence>
          <xs:element name="bioMaterial" type="gov.nih.nci.mageom.domain.BioMaterial:BioMaterial" minOccurs="0" maxOccurs="1" />
          <xs:element name="identifierLIMS" type="gov.nih.nci.mageom.domain.Description:DatabaseEntry" minOccurs="0" maxOccurs="1" />
          <xs:element name="feature" type="gov.nih.nci.mageom.domain.DesignElement:Feature" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="quality" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureDefect" type="FeatureDefect" />
  <xs:complexType name="FeatureDefect">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="positionDelta" type="PositionDelta" minOccurs="0" maxOccurs="1" />
          <xs:element name="defectType" type="gov.nih.nci.mageom.domain.Description:OntologyEntry" minOccurs="0" maxOccurs="1" />
          <xs:element name="feature" type="gov.nih.nci.mageom.domain.DesignElement:Feature" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

