cagrid-1-0/Applications/caarray/schema/CaArraySvc/gov.nih.nci.mageom.domain.DesignElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain.BioSequence="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioSequence" xmlns:gov.nih.nci.mageom.domain.BioAssayData="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.Description="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.ArrayDesign="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.ArrayDesign" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Measurement" targetNamespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.DesignElement" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioSequence" schemaLocation="gov.nih.nci.mageom.domain.BioSequence.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" schemaLocation="gov.nih.nci.mageom.domain.BioAssayData.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.ArrayDesign" schemaLocation="gov.nih.nci.mageom.domain.ArrayDesign.xsd" />
  <xs:element name="FeatureInformation" type="FeatureInformation" />
  <xs:complexType name="FeatureInformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="feature" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Feature" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MismatchInformation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeCompositeMap" type="CompositeCompositeMap" />
  <xs:complexType name="CompositeCompositeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="compositeSequence" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="CompositeSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="compositePositionSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="CompositePosition" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositePosition" type="CompositePosition" />
  <xs:complexType name="CompositePosition">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioSequence:SequencePosition">
        <xs:sequence>
          <xs:element name="composite" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="CompositeSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MismatchInformation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Feature" type="Feature" />
  <xs:complexType name="Feature">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="position" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Position" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="controlledFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Feature" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="controlFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Feature" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureGroup" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.ArrayDesign:FeatureGroup" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureLocation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="FeatureLocation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="zone" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.ArrayDesign:Zone" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Position" type="Position" />
  <xs:complexType name="Position">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="distanceUnit" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Measurement:DistanceUnit" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="x" type="xs:float" />
        <xs:attribute name="y" type="xs:float" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterCompositeMap" type="ReporterCompositeMap" />
  <xs:complexType name="ReporterCompositeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="compositeSequence" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="CompositeSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="reporterPositionSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ReporterPosition" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterPosition" type="ReporterPosition" />
  <xs:complexType name="ReporterPosition">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioSequence:SequencePosition">
        <xs:sequence>
          <xs:element name="reporter" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Reporter" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="mismatchInformation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="MismatchInformation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureReporterMap" type="FeatureReporterMap" />
  <xs:complexType name="FeatureReporterMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioAssayData:DesignElementMap">
        <xs:sequence>
          <xs:element name="reporter" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Reporter" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureInformationSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="FeatureInformation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElement" type="DesignElement" />
  <xs:complexType name="DesignElement">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="controlType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Reporter" type="Reporter" />
  <xs:complexType name="Reporter">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="warningType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="failTypes" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="immobilizedCharacteristics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioSequence:BioSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureReporterMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="FeatureReporterMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MismatchInformation" type="MismatchInformation" />
  <xs:complexType name="MismatchInformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
        <xs:attribute name="newSequence" type="xs:string" />
        <xs:attribute name="replacedLength" type="xs:int" />
        <xs:attribute name="startCoord" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeSequence" type="CompositeSequence" />
  <xs:complexType name="CompositeSequence">
    <xs:complexContent>
      <xs:extension base="DesignElement">
        <xs:sequence>
          <xs:element name="reporterCompositeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ReporterCompositeMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="compositeCompositeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="CompositeCompositeMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="biologicalCharacteristics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioSequence:BioSequence" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureLocation" type="FeatureLocation" />
  <xs:complexType name="FeatureLocation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
        <xs:attribute name="column" type="xs:int" />
        <xs:attribute name="row" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

