cagrid-1-0/Applications/caarray/schema/CaArraySvc/gov.nih.nci.mageom.domain.BioAssayData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioEvent="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain.BioAssay="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.QuantitationType="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.QuantitationType" xmlns:gov.nih.nci.mageom.domain.DesignElement="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.DesignElement" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain" targetNamespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioAssayData" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioEvent" schemaLocation="gov.nih.nci.mageom.domain.BioEvent.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.QuantitationType" schemaLocation="gov.nih.nci.mageom.domain.QuantitationType.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.BioAssay" schemaLocation="gov.nih.nci.mageom.domain.BioAssay.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.4/MAGEOM/gov.nih.nci.mageom.domain.DesignElement" schemaLocation="gov.nih.nci.mageom.domain.DesignElement.xsd" />
  <xs:element name="DesignElementMap" type="DesignElementMap" />
  <xs:complexType name="DesignElementMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataCube" type="BioDataCube" />
  <xs:complexType name="BioDataCube">
    <xs:complexContent>
      <xs:extension base="BioDataValues">
        <xs:sequence />
        <xs:attribute name="cube" type="xs:string" />
        <xs:attribute name="order">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="bdq" />
              <xs:enumeration value="bqd" />
              <xs:enumeration value="dbq" />
              <xs:enumeration value="dqb" />
              <xs:enumeration value="qbd" />
              <xs:enumeration value="qdb" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureDimension" type="FeatureDimension" />
  <xs:complexType name="FeatureDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="containedFeatures" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Feature" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeDimension" type="QuantitationTypeDimension" />
  <xs:complexType name="QuantitationTypeDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="quantitationTypes" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataValues" type="BioDataValues" />
  <xs:complexType name="BioDataValues">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CompositeSequenceDimension" type="CompositeSequenceDimension" />
  <xs:complexType name="CompositeSequenceDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="compositeSequences" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:CompositeSequence" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasuredBioAssayData" type="MeasuredBioAssayData" />
  <xs:complexType name="MeasuredBioAssayData">
    <xs:complexContent>
      <xs:extension base="BioAssayData">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayDatum" type="BioAssayDatum" />
  <xs:complexType name="BioAssayDatum">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="bioAssay" type="gov.nih.nci.mageom.domain.BioAssay:BioAssay" minOccurs="0" maxOccurs="1" />
          <xs:element name="quantitationType" type="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" minOccurs="0" maxOccurs="1" />
          <xs:element name="designElement" type="gov.nih.nci.mageom.domain.DesignElement:DesignElement" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeMap" type="QuantitationTypeMap" />
  <xs:complexType name="QuantitationTypeMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence>
          <xs:element name="targetQuantitationType" type="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" minOccurs="0" maxOccurs="1" />
          <xs:element name="sourcesQuantitationType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.QuantitationType:QuantitationType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivedBioAssayData" type="DerivedBioAssayData" />
  <xs:complexType name="DerivedBioAssayData">
    <xs:complexContent>
      <xs:extension base="BioAssayData">
        <xs:sequence>
          <xs:element name="producerTransformation" type="Transformation" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayData" type="BioAssayData" />
  <xs:complexType name="BioAssayData">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="quantitationTypeDimension" type="QuantitationTypeDimension" minOccurs="0" maxOccurs="1" />
          <xs:element name="summaryStatistics" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain:NameValueType" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioAssayDimension" type="BioAssayDimension" minOccurs="0" maxOccurs="1" />
          <xs:element name="designElementDimension" type="DesignElementDimension" minOccurs="0" maxOccurs="1" />
          <xs:element name="bioDataValues" type="BioDataValues" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantitationTypeMapping" type="QuantitationTypeMapping" />
  <xs:complexType name="QuantitationTypeMapping">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="quantitationTypeMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="QuantitationTypeMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayDimension" type="BioAssayDimension" />
  <xs:complexType name="BioAssayDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="bioAssays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:BioAssay" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayMapping" type="BioAssayMapping" />
  <xs:complexType name="BioAssayMapping">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="bioAssayMaps" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BioAssayMap" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioDataTuples" type="BioDataTuples" />
  <xs:complexType name="BioDataTuples">
    <xs:complexContent>
      <xs:extension base="BioDataValues">
        <xs:sequence>
          <xs:element name="bioAssayTupleData" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BioAssayDatum" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReporterDimension" type="ReporterDimension" />
  <xs:complexType name="ReporterDimension">
    <xs:complexContent>
      <xs:extension base="DesignElementDimension">
        <xs:sequence>
          <xs:element name="reporters" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.DesignElement:Reporter" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Transformation" type="Transformation" />
  <xs:complexType name="Transformation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:BioEvent">
        <xs:sequence>
          <xs:element name="quantitationTypeMapping" type="QuantitationTypeMapping" minOccurs="0" maxOccurs="1" />
          <xs:element name="designElementMapping" type="DesignElementMapping" minOccurs="0" maxOccurs="1" />
          <xs:element name="bioAssayMapping" type="BioAssayMapping" minOccurs="0" maxOccurs="1" />
          <xs:element name="derivedBioAssayDataTarget" type="DerivedBioAssayData" minOccurs="0" maxOccurs="1" />
          <xs:element name="bioAssayDataSources" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="BioAssayData" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElementDimension" type="DesignElementDimension" />
  <xs:complexType name="DesignElementDimension">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayMap" type="BioAssayMap" />
  <xs:complexType name="BioAssayMap">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:Map">
        <xs:sequence>
          <xs:element name="bioAssayMapTarget" type="gov.nih.nci.mageom.domain.BioAssay:DerivedBioAssay" minOccurs="0" maxOccurs="1" />
          <xs:element name="sourceBioAssays" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssay:BioAssay" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DesignElementMapping" type="DesignElementMapping" />
  <xs:complexType name="DesignElementMapping">
    <xs:sequence>
      <xs:element name="designElementMaps" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DesignElementMap" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

