cagrid-1-0/Applications/caarray/schema/CaArraySvc/gov.nih.nci.mageom.domain.BioAssay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" xmlns:gov.nih.nci.mageom.domain.BioAssayData="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" xmlns:gov.nih.nci.mageom.domain.BioEvent="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioEvent" xmlns:gov.nih.nci.mageom.domain.Description="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain.BioMaterial="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioMaterial" xmlns:gov.nih.nci.mageom.domain.Experiment="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Experiment" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Array="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Array" targetNamespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssay" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Array" schemaLocation="gov.nih.nci.mageom.domain.Array.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Experiment" schemaLocation="gov.nih.nci.mageom.domain.Experiment.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioMaterial" schemaLocation="gov.nih.nci.mageom.domain.BioMaterial.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioEvent" schemaLocation="gov.nih.nci.mageom.domain.BioEvent.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.BioAssayData" schemaLocation="gov.nih.nci.mageom.domain.BioAssayData.xsd" />
  <xs:element name="BioAssay" type="BioAssay" />
  <xs:complexType name="BioAssay">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="bioAssayFactorValues" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.Experiment:FactorValue" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="channels" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Channel" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DerivedBioAssay" type="DerivedBioAssay" />
  <xs:complexType name="DerivedBioAssay">
    <xs:complexContent>
      <xs:extension base="BioAssay">
        <xs:sequence>
          <xs:element name="derivedBioAssayData" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssayData:DerivedBioAssayData" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="derivedBioAssayMap" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssayData:BioAssayMap" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayTreatment" type="BioAssayTreatment" />
  <xs:complexType name="BioAssayTreatment">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:BioEvent">
        <xs:sequence>
          <xs:element name="target" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="PhysicalBioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhysicalBioAssay" type="PhysicalBioAssay" />
  <xs:complexType name="PhysicalBioAssay">
    <xs:complexContent>
      <xs:extension base="BioAssay">
        <xs:sequence>
          <xs:element name="bioAssayCreation" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Hybridization" />
                <xs:element ref="BioAssayCreation" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="bioAssayTreatments" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ImageAcquisition" />
                <xs:element ref="BioAssayTreatment" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="physicalBioAssayData" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Image" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MeasuredBioAssay" type="MeasuredBioAssay" />
  <xs:complexType name="MeasuredBioAssay">
    <xs:complexContent>
      <xs:extension base="BioAssay">
        <xs:sequence>
          <xs:element name="measuredBioAssayData" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioAssayData:MeasuredBioAssayData" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="featureExtraction" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="FeatureExtraction" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FeatureExtraction" type="FeatureExtraction" />
  <xs:complexType name="FeatureExtraction">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:BioEvent">
        <xs:sequence>
          <xs:element name="physicalBioAssaySource" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="PhysicalBioAssay" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Channel" type="Channel" />
  <xs:complexType name="Channel">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="labels" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioMaterial:Compound" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageAcquisition" type="ImageAcquisition" />
  <xs:complexType name="ImageAcquisition">
    <xs:complexContent>
      <xs:extension base="BioAssayTreatment">
        <xs:sequence>
          <xs:element name="images" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Image" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BioAssayCreation" type="BioAssayCreation" />
  <xs:complexType name="BioAssayCreation">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain.BioEvent:BioEvent">
        <xs:sequence>
          <xs:element name="sourceBioMaterialMeasurements" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.BioMaterial:BioMaterialMeasurement" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="array" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Array:Array" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Image" type="Image" />
  <xs:complexType name="Image">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="channels" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Channel" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="format" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="URI" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hybridization" type="Hybridization" />
  <xs:complexType name="Hybridization">
    <xs:complexContent>
      <xs:extension base="BioAssayCreation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

