cagrid-1-0/Applications/caarray/schema/CaArraySvc/gov.nih.nci.mageom.domain.Protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Protocol" xmlns:gov.nih.nci.mageom.domain.AuditAndSecurity="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.AuditAndSecurity" xmlns:gov.nih.nci.mageom.domain.Description="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" xmlns:gov.nih.nci.mageom.domain="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" xmlns:gov.nih.nci.mageom.domain.Measurement="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Measurement" targetNamespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Protocol" elementFormDefault="qualified">
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Description" schemaLocation="gov.nih.nci.mageom.domain.Description.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain" schemaLocation="gov.nih.nci.mageom.domain.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.AuditAndSecurity" schemaLocation="gov.nih.nci.mageom.domain.AuditAndSecurity.xsd" />
  <xs:import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Measurement" schemaLocation="gov.nih.nci.mageom.domain.Measurement.xsd" />
  <xs:element name="Parameterizable" type="Parameterizable" />
  <xs:complexType name="Parameterizable">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="parameterTypes" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Parameter" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="URI" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Parameter" type="Parameter" />
  <xs:complexType name="Parameter">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Identifiable">
        <xs:sequence>
          <xs:element name="defaultValue" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Measurement:Measurement" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="dataType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Protocol" type="Protocol" />
  <xs:complexType name="Protocol">
    <xs:complexContent>
      <xs:extension base="Parameterizable">
        <xs:sequence>
          <xs:element name="softwares" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Software" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="hardwares" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Hardware" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="text" type="xs:string" />
        <xs:attribute name="title" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProtocolApplication" type="ProtocolApplication" />
  <xs:complexType name="ProtocolApplication">
    <xs:complexContent>
      <xs:extension base="ParameterizableApplication">
        <xs:sequence>
          <xs:element name="hardwareApplications" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="HardwareApplication" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="softwareApplications" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="SoftwareApplication" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="protocol" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Protocol" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="performers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Person" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="activityDate" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hardware" type="Hardware" />
  <xs:complexType name="Hardware">
    <xs:complexContent>
      <xs:extension base="Parameterizable">
        <xs:sequence>
          <xs:element name="hardwareManufacturers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Person" />
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Organization" />
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Contact" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="softwares" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Software" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="make" type="xs:string" />
        <xs:attribute name="model" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HardwareApplication" type="HardwareApplication" />
  <xs:complexType name="HardwareApplication">
    <xs:complexContent>
      <xs:extension base="ParameterizableApplication">
        <xs:sequence>
          <xs:element name="hardware" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Hardware" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="serialNumber" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SoftwareApplication" type="SoftwareApplication" />
  <xs:complexType name="SoftwareApplication">
    <xs:complexContent>
      <xs:extension base="ParameterizableApplication">
        <xs:sequence>
          <xs:element name="software" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Software" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="releaseDate" type="xs:dateTime" />
        <xs:attribute name="version" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterValue" type="ParameterValue" />
  <xs:complexType name="ParameterValue">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Extendable">
        <xs:sequence>
          <xs:element name="parameterType" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Parameter" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ParameterizableApplication" type="ParameterizableApplication" />
  <xs:complexType name="ParameterizableApplication">
    <xs:complexContent>
      <xs:extension base="gov.nih.nci.mageom.domain:Describable">
        <xs:sequence>
          <xs:element name="parameterValues" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="ParameterValue" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Software" type="Software" />
  <xs:complexType name="Software">
    <xs:complexContent>
      <xs:extension base="Parameterizable">
        <xs:sequence>
          <xs:element name="hardware" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="Hardware" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="softwares" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="Software" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="softwareManufacturers" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Person" />
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Organization" />
                <xs:element ref="gov.nih.nci.mageom.domain.AuditAndSecurity:Contact" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
          <xs:element name="type" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element ref="gov.nih.nci.mageom.domain.Description:OntologyEntry" />
              </xs:choice>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

