cagrid-1-0/caGrid/projects/fqp/service/schema/FederatedQueryPlan/FederatedQueryPlan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FederatedQueryPlan" targetNamespace="http://cagrid.nci.nih.gov/cagrid/fqp"
    xmlns:tns="http://cagrid.nci.nih.gov/cagrid/fqp"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"    xmlns="http://schemas.xmlsoap.org/wsdl/">
 
    <import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
        location="../wsrf/faults/WS-BaseFaults.wsdl"/>
    <!--============================================================

                      T Y P E S
                      
  ============================================================-->
    <types>
        <schema targetNamespace="http://cagrid.nci.nih.gov/cagrid/fqp"
            xmlns:tns="http://cagrid.nci.nih.gov/cagrid/fqp"
			xmlns:ns1="http://nci.nih.gov/cagrid/DCQL"
			
			xmlns:ns0="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet"
			
            xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>
			<import namespace="http://nci.nih.gov/cagrid/DCQL" schemaLocation="./Distributed_CQL_schema.xsd"/>
			
			<import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd"/>
			
      	
      	
				<element name="ProcessDCQLRequest">
					<complexType>
						<sequence>
          		  			<element name="federatedQueryPlan">
	      		  				<complexType>
									<sequence>
										<element ref="ns1:FederatedQueryPlan" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
	      			        </sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="ProcessDCQLResponse">
					<complexType>
						<sequence>
          		  
							<element ref="ns0:CQLQueryResultCollection" minOccurs="1" maxOccurs="1" />
			                  		
						</sequence>
					</complexType>
				</element>
				
            <element name="FederatedQueryPlanResourceProperties">
                <complexType>
                    <sequence></sequence>
                </complexType>
            </element>
          </schema>
    </types>
    
    
<!--  place service messages here -->
	<message name="ProcessDCQLRequest">
		<part name="parameters" element="tns:ProcessDCQLRequest"/>
	</message>
	
	<message name="ProcessDCQLResponse">
		<part name="parameters" element="tns:ProcessDCQLResponse"/>
	</message>
    
<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
<portType name="FederatedQueryPlanPortType" wsrp:ResourceProperties="tns:FederatedQueryPlanResourceProperties">
		<operation name="processDCQL">
            <input message="tns:ProcessDCQLRequest"/>
            <output message="tns:ProcessDCQLResponse"/>
        </operation>
        <operation name="GetResourceProperty">
            <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
            <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="GetMultipleResourceProperties">
            <input name="GetMultipleResourcePropertiesRequest"
                message="wsrpw:GetMultipleResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <output name="GetMultipleResourcePropertiesResponse"
                message="wsrpw:GetMultipleResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="QueryResourceProperties">
            <input name="QueryResourcePropertiesRequest"
                message="wsrpw:QueryResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
            <output name="QueryResourcePropertiesResponse"
                message="wsrpw:QueryResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="UnknownQueryExpressionDialectFault"
                message="wsrpw:UnknownQueryExpressionDialectFault"/>
            <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
            <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
        </operation>
    </portType>
</definitions>
