cagrid-1-0/caGrid/projects/gme/schema/GlobalModelExchange/GlobalModelExchange.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GlobalModelExchange" targetNamespace="http://projectmobius.org/1/GlobalModelExchange"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://projectmobius.org/1/GlobalModelExchange"
	xmlns:gme="gme://projectmobius.org/1/Protocol"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
	xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
	xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
	xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd"
	xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
	xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
		location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
	<wsdl:import
		namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
		location="../wsrf/faults/WS-BaseFaults.wsdl"/>
	<types>
		<xsd:schema targetNamespace="http://projectmobius.org/1/GlobalModelExchange"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			xmlns="http://www.w3.org/2001/XMLSchema"
			xmlns:comm="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common">
			<import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./gov.nih.nci.cagrid.metadata.common.xsd"/>
			<xsd:element name="addNamespace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addNamespaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeNamespace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeNamespaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authoritativeNamespaces">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="authoritativeNamespacesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addSubordinateNamespace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addSubordinateNamespaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publishSchema">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="publishSchemaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchema">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchemaResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchemaListForNamespace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchemaListForNamespaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addPeer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="addPeerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPeersList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getPeersListResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removePeer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removePeerResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resolveNamespace">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resolveNamespaceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resolveReference">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="resolveReferenceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchemaElementReferences">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getSchemaElementReferencesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getServiceData">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getServiceDataResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="destroyService">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="destroyServiceResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<element name="GlobalModelExchangeResourceProperties">
				<complexType>
					<sequence>
						<element ref="comm:CommonServiceMetadata"/></sequence>
				</complexType>
			</element>
		</xsd:schema>
	</types>
	<message name="AddNamespaceInputMessage">
		<part name="parameters" element="tns:addNamespace"/>
	</message>
	<message name="AddNamespaceOutputMessage">
		<part name="parameters" element="tns:addNamespaceResponse"/>
	</message>
	<message name="RemoveNamespaceInputMessage">
		<part name="parameters" element="tns:removeNamespace"/>
	</message>
	<message name="RemoveNamespaceOutputMessage">
		<part name="parameters" element="tns:removeNamespaceResponse"/>
	</message>
	<message name="AuthoritativeNamespacesInputMessage">
		<part name="parameters" element="tns:authoritativeNamespaces"/>
	</message>
	<message name="AuthoritativeNamespacesOutputMessage">
		<part name="parameters" element="tns:authoritativeNamespacesResponse"/>
	</message>
	<message name="AddSubordinateNamespaceInputMessage">
		<part name="parameters" element="tns:addSubordinateNamespace"/>
	</message>
	<message name="AddSubordinateNamespaceOutputMessage">
		<part name="parameters" element="tns:addSubordinateNamespaceResponse"/>
	</message>
	<message name="PublishSchemaInputMessage">
		<part name="parameters" element="tns:publishSchema"/>
	</message>
	<message name="PublishSchemaOutputMessage">
		<part name="parameters" element="tns:publishSchemaResponse"/>
	</message>
	<message name="GetSchemaInputMessage">
		<part name="parameters" element="tns:getSchema"/>
	</message>
	<message name="GetSchemaOutputMessage">
		<part name="parameters" element="tns:getSchemaResponse"/>
	</message>
	<message name="GetSchemaListForNamespaceInputMessage">
		<part name="parameters" element="tns:getSchemaListForNamespace"/>
	</message>
	<message name="GetSchemaListForNamespaceOutputMessage">
		<part name="parameters" element="tns:getSchemaListForNamespaceResponse"/>
	</message>
	<message name="AddPeerInputMessage">
		<part name="parameters" element="tns:addPeer"/>
	</message>
	<message name="AddPeerOutputMessage">
		<part name="parameters" element="tns:addPeerResponse"/>
	</message>
	<message name="GetPeersListInputMessage">
		<part name="parameters" element="tns:getPeersList"/>
	</message>
	<message name="GetPeersListOutputMessage">
		<part name="parameters" element="tns:getPeersListResponse"/>
	</message>
	<message name="RemovePeerInputMessage">
		<part name="parameters" element="tns:removePeer"/>
	</message>
	<message name="RemovePeerOutputMessage">
		<part name="parameters" element="tns:removePeerResponse"/>
	</message>
	<message name="ResolveNamespaceInputMessage">
		<part name="parameters" element="tns:resolveNamespace"/>
	</message>
	<message name="ResolveNamespaceOutputMessage">
		<part name="parameters" element="tns:resolveNamespaceResponse"/>
	</message>
	<message name="ResolveReferenceInputMessage">
		<part name="parameters" element="tns:resolveReference"/>
	</message>
	<message name="ResolveReferenceOutputMessage">
		<part name="parameters" element="tns:resolveReferenceResponse"/>
	</message>
	<message name="GetSchemaElementReferencesInputMessage">
		<part name="parameters" element="tns:getSchemaElementReferences"/>
	</message>
	<message name="GetSchemaElementReferencesOutputMessage">
		<part name="parameters" element="tns:getSchemaElementReferencesResponse"/>
	</message>
	<message name="GetServiceDataInputMessage">
		<part name="parameters" element="tns:getServiceData"/>
	</message>
	<message name="GetServiceDataOutputMessage">
		<part name="parameters" element="tns:getServiceDataResponse"/>
	</message>
	<message name="DestroyServiceInputMessage">
		<part name="parameters" element="tns:destroyService"/>
	</message>
	<message name="DestroyServiceOutputMessage">
		<part name="parameters" element="tns:destroyServiceResponse"/>
	</message>
	<portType name="GlobalModelExchangePortType" wsrp:ResourceProperties="tns:GlobalModelExchangeResourceProperties">
		<operation name="addNamespace">
			<input message="tns:AddNamespaceInputMessage"/>
			<output message="tns:AddNamespaceOutputMessage"/>
		</operation>
		<operation name="removeNamespace">
			<input message="tns:RemoveNamespaceInputMessage"/>
			<output message="tns:RemoveNamespaceOutputMessage"/>
		</operation>
		<operation name="authoritativeNamespaces">
			<input message="tns:AuthoritativeNamespacesInputMessage"/>
			<output message="tns:AuthoritativeNamespacesOutputMessage"/>
		</operation>
		<operation name="addSubordinateNamespace">
			<input message="tns:AddSubordinateNamespaceInputMessage"/>
			<output message="tns:AddSubordinateNamespaceOutputMessage"/>
		</operation>
		<operation name="publishSchema">
			<input message="tns:PublishSchemaInputMessage"/>
			<output message="tns:PublishSchemaOutputMessage"/>
		</operation>
		<operation name="getSchema">
			<input message="tns:GetSchemaInputMessage"/>
			<output message="tns:GetSchemaOutputMessage"/>
		</operation>
		<operation name="getSchemaListForNamespace">
			<input message="tns:GetSchemaListForNamespaceInputMessage"/>
			<output message="tns:GetSchemaListForNamespaceOutputMessage"/>
		</operation>
		<operation name="addPeer">
			<input message="tns:AddPeerInputMessage"/>
			<output message="tns:AddPeerOutputMessage"/>
		</operation>
		<operation name="getPeersList">
			<input message="tns:GetPeersListInputMessage"/>
			<output message="tns:GetPeersListOutputMessage"/>
		</operation>
		<operation name="removePeer">
			<input message="tns:RemovePeerInputMessage"/>
			<output message="tns:RemovePeerOutputMessage"/>
		</operation>
		<operation name="resolveNamespace">
			<input message="tns:ResolveNamespaceInputMessage"/>
			<output message="tns:ResolveNamespaceOutputMessage"/>
		</operation>
		<operation name="resolveReference">
			<input message="tns:ResolveReferenceInputMessage"/>
			<output message="tns:ResolveReferenceOutputMessage"/>
		</operation>
		<operation name="getSchemaElementReferences">
			<input message="tns:GetSchemaElementReferencesInputMessage"/>
			<output message="tns:GetSchemaElementReferencesOutputMessage"/>
		</operation>
		<operation name="getServiceData">
			<input message="tns:GetServiceDataInputMessage"/>
			<output message="tns:GetServiceDataOutputMessage"/>
		</operation>
		<operation name="destroyService">
			<input message="tns:DestroyServiceInputMessage"/>
			<output message="tns:DestroyServiceOutputMessage"/>
		</operation>
		<operation name="GetResourceProperty">
			<input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
			<output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
			<fault name="InvalidResourcePropertyQNameFault"
				message="wsrpw:InvalidResourcePropertyQNameFault"/>
			<fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
		</operation>
		<operation name="GetMultipleResourceProperties">
			<input name="GetMultipleResourcePropertiesRequest"
				message="wsrpw:GetMultipleResourcePropertiesRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
			<output name="GetMultipleResourcePropertiesResponse"
				message="wsrpw:GetMultipleResourcePropertiesResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
			<fault name="InvalidResourcePropertyQNameFault"
				message="wsrpw:InvalidResourcePropertyQNameFault"/>
			<fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
		</operation>
		<operation name="QueryResourceProperties">
			<input name="QueryResourcePropertiesRequest"
				message="wsrpw:QueryResourcePropertiesRequest"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
			<output name="QueryResourcePropertiesResponse"
				message="wsrpw:QueryResourcePropertiesResponse"
				wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
			<fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
			<fault name="InvalidResourcePropertyQNameFault"
				message="wsrpw:InvalidResourcePropertyQNameFault"/>
			<fault name="UnknownQueryExpressionDialectFault"
				message="wsrpw:UnknownQueryExpressionDialectFault"/>
			<fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
			<fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
		</operation>
	</portType>
</definitions>
