cagrid-1-0/caGrid/projects/gme/schema/GlobalModelExchange/NamespaceLookup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="gme://projectmobius.org/1/NamespaceLookup" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="NamespaceLookupRequest">
    <xs:complexType>
      <xs:attribute name="namespace" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="NamespaceLookupResponse">
    <xs:complexType>
      <xs:attribute name="namespace" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
