cagrid-1-0/caGrid/projects/gts/schema/GridTrustService/GridTrustService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GridTrustService" targetNamespace="http://cagrid.nci.nih.gov/GridTrustService"
    xmlns:tns="http://cagrid.nci.nih.gov/GridTrustService"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
        location="../wsrf/faults/WS-BaseFaults.wsdl"/>
    <!--============================================================

                      T Y P E S
                      
  ============================================================-->
    <types>
        <schema targetNamespace="http://cagrid.nci.nih.gov/GridTrustService"
            xmlns:tns="http://cagrid.nci.nih.gov/GridTrustService"
			xmlns:trus="http://cagrid.nci.nih.gov/4/gts" 
			
            xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd">
			<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>
		
			<import namespace="http://cagrid.nci.nih.gov/4/gts" schemaLocation="./4_gts.xsd"/>
			   
      	
      	
				<element name="addTrustedAuthority">
					<complexType>
						<sequence>
          		  
                  			<element name="TrustedAuthority" type="trus:TrustedAuthority" minOccurs="1" maxOccurs="1" />
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="addTrustedAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="GTSInternalFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="IllegalTrustedAuthorityFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
            <element name="GridTrustServiceResourceProperties">
                <complexType>
                    <sequence></sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
<!--  place service messages here -->
	<message name="addTrustedAuthorityInputMessage">
		<part name="parameters" element="tns:addTrustedAuthority"/>
	</message>
	
	<message name="addTrustedAuthorityOutputMessage">
		<part name="parameters" element="tns:addTrustedAuthorityResponse"/>
	</message>
	<message name="GTSInternalFaultFaultMessage">
		<part name="fault" element="tns:GTSInternalFault"/>
	</message>
	<message name="IllegalTrustedAuthorityFaultFaultMessage">
		<part name="fault" element="tns:IllegalTrustedAuthorityFault"/>
	</message>
    
<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
    <portType name="GridTrustServicePortType" wsrp:ResourceProperties="tns:GridTrustServiceResourceProperties">

		<operation name="addTrustedAuthority">
            <input message="tns:addTrustedAuthorityInputMessage"/>
            <output message="tns:addTrustedAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalTrustedAuthorityFault" message="tns:IllegalTrustedAuthorityFaultFaultMessage"/>
       				
        </operation>
        <operation name="GetResourceProperty">
            <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
            <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="GetMultipleResourceProperties">
            <input name="GetMultipleResourcePropertiesRequest"
                message="wsrpw:GetMultipleResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <output name="GetMultipleResourcePropertiesResponse"
                message="wsrpw:GetMultipleResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="QueryResourceProperties">
            <input name="QueryResourcePropertiesRequest"
                message="wsrpw:QueryResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
            <output name="QueryResourcePropertiesResponse"
                message="wsrpw:QueryResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="UnknownQueryExpressionDialectFault"
                message="wsrpw:UnknownQueryExpressionDialectFault"/>
            <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
            <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
        </operation>
    </portType>
</definitions>
