cagrid-1-0/caGrid/projects/gts/schema/GridTrustService/GridTrustService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="GridTrustService" targetNamespace="http://cagrid.nci.nih.gov/GridTrustService"
    xmlns:tns="http://cagrid.nci.nih.gov/GridTrustService"
    xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd"
    xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl"
    xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor"
    xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing"
    xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl"
    xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
    xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <import
        namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl"
        location="../wsrf/properties/WS-ResourceProperties.wsdl"/>
    <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl"
        location="../wsrf/faults/WS-BaseFaults.wsdl"/>
    <!--============================================================

                      T Y P E S
                      
  ============================================================-->
    <types>
        <schema targetNamespace="http://cagrid.nci.nih.gov/GridTrustService"
            xmlns:tns="http://cagrid.nci.nih.gov/GridTrustService"
			xmlns:ns0="http://cagrid.nci.nih.gov/8/gts" 
			
            xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd"/>
		
			<import namespace="http://cagrid.nci.nih.gov/8/gts" schemaLocation="./gts.xsd"/>
			   
      	
      	
				<element name="addTrustedAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="ta">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:TrustedAuthority" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="addTrustedAuthorityResponse">
					<complexType>
						<sequence>
          		  
										<element ref="ns0:TrustedAuthority" minOccurs="1" maxOccurs="1" />
			                  		
						</sequence>
					</complexType>
				</element>
				<element name="findTrustedAuthorities">
					<complexType>
						<sequence>
          		  
                  					
							<element name="f">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:TrustedAuthorityFilter" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="findTrustedAuthoritiesResponse">
					<complexType>
						<sequence>
          		  
										<element ref="ns0:TrustedAuthority" minOccurs="1" maxOccurs="unbounded" />
			                  		
						</sequence>
					</complexType>
				</element>
				<element name="removeTrustedAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="trustedAuthorityName" type="xs:string" minOccurs="1" maxOccurs="1" />
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="removeTrustedAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="addPermission">
					<complexType>
						<sequence>
          		  
                  					
							<element name="permission">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:Permission" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="addPermissionResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="findPermissions">
					<complexType>
						<sequence>
          		  
                  					
							<element name="f">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:PermissionFilter" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="findPermissionsResponse">
					<complexType>
						<sequence>
          		  
										<element ref="ns0:Permission" minOccurs="1" maxOccurs="unbounded" />
			                  		
						</sequence>
					</complexType>
				</element>
				<element name="revokePermission">
					<complexType>
						<sequence>
          		  
                  					
							<element name="permission">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:Permission" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="revokePermissionResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="updateTrustedAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="ta">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:TrustedAuthority" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="updateTrustedAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="addTrustLevel">
					<complexType>
						<sequence>
          		  
                  					
							<element name="trustLevel">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:TrustLevel" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="addTrustLevelResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="updateTrustLevel">
					<complexType>
						<sequence>
          		  
                  					
							<element name="trustLevel">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:TrustLevel" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="updateTrustLevelResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="getTrustLevels">
					<complexType>
						<sequence>
          		  
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="getTrustLevelsResponse">
					<complexType>
						<sequence>
          		  
										<element ref="ns0:TrustLevel" minOccurs="1" maxOccurs="unbounded" />
			                  		
						</sequence>
					</complexType>
				</element>
				<element name="removeTrustLevel">
					<complexType>
						<sequence>
          		  
                  					
							<element name="string" type="xs:string" minOccurs="1" maxOccurs="1" />
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="removeTrustLevelResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="addAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="authorityGTS">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:AuthorityGTS" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="addAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="updateAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="authorityGTS">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:AuthorityGTS" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="updateAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="updateAuthorityPriorities">
					<complexType>
						<sequence>
          		  
                  					
							<element name="authorityPriorityUpdate">
	      		  				<complexType>
									<sequence>
										<element ref="ns0:AuthorityPriorityUpdate" minOccurs="1" maxOccurs="1" />
                  				 	</sequence>
	      			        	</complexType>
	      			        </element>
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="updateAuthorityPrioritiesResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="getAuthorities">
					<complexType>
						<sequence>
          		  
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="getAuthoritiesResponse">
					<complexType>
						<sequence>
          		  
										<element ref="ns0:AuthorityGTS" minOccurs="1" maxOccurs="unbounded" />
			                  		
						</sequence>
					</complexType>
				</element>
				<element name="removeAuthority">
					<complexType>
						<sequence>
          		  
                  					
							<element name="serviceURI" type="xs:string" minOccurs="1" maxOccurs="1" />
                  				 	
	      				</sequence>
	      			</complexType>
	      		</element>
  		       
				<element name="removeAuthorityResponse">
					<complexType>
						<sequence>
          		  
						</sequence>
					</complexType>
				</element>
				<element name="GTSInternalFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="IllegalTrustedAuthorityFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="PermissionDeniedFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="InvalidTrustedAuthorityFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="IllegalPermissionFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="InvalidPermissionFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="IllegalTrustLevelFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="InvalidTrustLevelFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="IllegalAuthorityFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
				<element name="InvalidAuthorityFault" >
					<complexType>
						<complexContent>
							<extension base="wsrbf:BaseFaultType"/>
						</complexContent>
					</complexType>
				</element>
      					
            <element name="GridTrustServiceResourceProperties">
                <complexType>
                    <sequence></sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
<!--  place service messages here -->
	<message name="addTrustedAuthorityInputMessage">
		<part name="parameters" element="tns:addTrustedAuthority"/>
	</message>
	
	<message name="addTrustedAuthorityOutputMessage">
		<part name="parameters" element="tns:addTrustedAuthorityResponse"/>
	</message>
	<message name="findTrustedAuthoritiesInputMessage">
		<part name="parameters" element="tns:findTrustedAuthorities"/>
	</message>
	
	<message name="findTrustedAuthoritiesOutputMessage">
		<part name="parameters" element="tns:findTrustedAuthoritiesResponse"/>
	</message>
	<message name="removeTrustedAuthorityInputMessage">
		<part name="parameters" element="tns:removeTrustedAuthority"/>
	</message>
	
	<message name="removeTrustedAuthorityOutputMessage">
		<part name="parameters" element="tns:removeTrustedAuthorityResponse"/>
	</message>
	<message name="addPermissionInputMessage">
		<part name="parameters" element="tns:addPermission"/>
	</message>
	
	<message name="addPermissionOutputMessage">
		<part name="parameters" element="tns:addPermissionResponse"/>
	</message>
	<message name="findPermissionsInputMessage">
		<part name="parameters" element="tns:findPermissions"/>
	</message>
	
	<message name="findPermissionsOutputMessage">
		<part name="parameters" element="tns:findPermissionsResponse"/>
	</message>
	<message name="revokePermissionInputMessage">
		<part name="parameters" element="tns:revokePermission"/>
	</message>
	
	<message name="revokePermissionOutputMessage">
		<part name="parameters" element="tns:revokePermissionResponse"/>
	</message>
	<message name="updateTrustedAuthorityInputMessage">
		<part name="parameters" element="tns:updateTrustedAuthority"/>
	</message>
	
	<message name="updateTrustedAuthorityOutputMessage">
		<part name="parameters" element="tns:updateTrustedAuthorityResponse"/>
	</message>
	<message name="addTrustLevelInputMessage">
		<part name="parameters" element="tns:addTrustLevel"/>
	</message>
	
	<message name="addTrustLevelOutputMessage">
		<part name="parameters" element="tns:addTrustLevelResponse"/>
	</message>
	<message name="updateTrustLevelInputMessage">
		<part name="parameters" element="tns:updateTrustLevel"/>
	</message>
	
	<message name="updateTrustLevelOutputMessage">
		<part name="parameters" element="tns:updateTrustLevelResponse"/>
	</message>
	<message name="getTrustLevelsInputMessage">
		<part name="parameters" element="tns:getTrustLevels"/>
	</message>
	
	<message name="getTrustLevelsOutputMessage">
		<part name="parameters" element="tns:getTrustLevelsResponse"/>
	</message>
	<message name="removeTrustLevelInputMessage">
		<part name="parameters" element="tns:removeTrustLevel"/>
	</message>
	
	<message name="removeTrustLevelOutputMessage">
		<part name="parameters" element="tns:removeTrustLevelResponse"/>
	</message>
	<message name="addAuthorityInputMessage">
		<part name="parameters" element="tns:addAuthority"/>
	</message>
	
	<message name="addAuthorityOutputMessage">
		<part name="parameters" element="tns:addAuthorityResponse"/>
	</message>
	<message name="updateAuthorityInputMessage">
		<part name="parameters" element="tns:updateAuthority"/>
	</message>
	
	<message name="updateAuthorityOutputMessage">
		<part name="parameters" element="tns:updateAuthorityResponse"/>
	</message>
	<message name="updateAuthorityPrioritiesInputMessage">
		<part name="parameters" element="tns:updateAuthorityPriorities"/>
	</message>
	
	<message name="updateAuthorityPrioritiesOutputMessage">
		<part name="parameters" element="tns:updateAuthorityPrioritiesResponse"/>
	</message>
	<message name="getAuthoritiesInputMessage">
		<part name="parameters" element="tns:getAuthorities"/>
	</message>
	
	<message name="getAuthoritiesOutputMessage">
		<part name="parameters" element="tns:getAuthoritiesResponse"/>
	</message>
	<message name="removeAuthorityInputMessage">
		<part name="parameters" element="tns:removeAuthority"/>
	</message>
	
	<message name="removeAuthorityOutputMessage">
		<part name="parameters" element="tns:removeAuthorityResponse"/>
	</message>
	<message name="GTSInternalFaultFaultMessage">
		<part name="fault" element="tns:GTSInternalFault"/>
	</message>
	<message name="IllegalTrustedAuthorityFaultFaultMessage">
		<part name="fault" element="tns:IllegalTrustedAuthorityFault"/>
	</message>
	<message name="PermissionDeniedFaultFaultMessage">
		<part name="fault" element="tns:PermissionDeniedFault"/>
	</message>
	<message name="InvalidTrustedAuthorityFaultFaultMessage">
		<part name="fault" element="tns:InvalidTrustedAuthorityFault"/>
	</message>
	<message name="IllegalPermissionFaultFaultMessage">
		<part name="fault" element="tns:IllegalPermissionFault"/>
	</message>
	<message name="InvalidPermissionFaultFaultMessage">
		<part name="fault" element="tns:InvalidPermissionFault"/>
	</message>
	<message name="IllegalTrustLevelFaultFaultMessage">
		<part name="fault" element="tns:IllegalTrustLevelFault"/>
	</message>
	<message name="InvalidTrustLevelFaultFaultMessage">
		<part name="fault" element="tns:InvalidTrustLevelFault"/>
	</message>
	<message name="IllegalAuthorityFaultFaultMessage">
		<part name="fault" element="tns:IllegalAuthorityFault"/>
	</message>
	<message name="InvalidAuthorityFaultFaultMessage">
		<part name="fault" element="tns:InvalidAuthorityFault"/>
	</message>
    
<!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
    <portType name="GridTrustServicePortType" wsrp:ResourceProperties="tns:GridTrustServiceResourceProperties">

		<operation name="addTrustedAuthority">
            <input message="tns:addTrustedAuthorityInputMessage"/>
            <output message="tns:addTrustedAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalTrustedAuthorityFault" message="tns:IllegalTrustedAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="findTrustedAuthorities">
            <input message="tns:findTrustedAuthoritiesInputMessage"/>
            <output message="tns:findTrustedAuthoritiesOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
        </operation>
		<operation name="removeTrustedAuthority">
            <input message="tns:removeTrustedAuthorityInputMessage"/>
            <output message="tns:removeTrustedAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="InvalidTrustedAuthorityFault" message="tns:InvalidTrustedAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="addPermission">
            <input message="tns:addPermissionInputMessage"/>
            <output message="tns:addPermissionOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalPermissionFault" message="tns:IllegalPermissionFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="findPermissions">
            <input message="tns:findPermissionsInputMessage"/>
            <output message="tns:findPermissionsOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="revokePermission">
            <input message="tns:revokePermissionInputMessage"/>
            <output message="tns:revokePermissionOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="InvalidPermissionFault" message="tns:InvalidPermissionFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="updateTrustedAuthority">
            <input message="tns:updateTrustedAuthorityInputMessage"/>
            <output message="tns:updateTrustedAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalTrustedAuthorityFault" message="tns:IllegalTrustedAuthorityFaultFaultMessage"/>
       				
       		 <fault name="InvalidTrustedAuthorityFault" message="tns:InvalidTrustedAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="addTrustLevel">
            <input message="tns:addTrustLevelInputMessage"/>
            <output message="tns:addTrustLevelOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalTrustLevelFault" message="tns:IllegalTrustLevelFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="updateTrustLevel">
            <input message="tns:updateTrustLevelInputMessage"/>
            <output message="tns:updateTrustLevelOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="InvalidTrustLevelFault" message="tns:InvalidTrustLevelFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="getTrustLevels">
            <input message="tns:getTrustLevelsInputMessage"/>
            <output message="tns:getTrustLevelsOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
        </operation>
		<operation name="removeTrustLevel">
            <input message="tns:removeTrustLevelInputMessage"/>
            <output message="tns:removeTrustLevelOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="InvalidTrustLevelFault" message="tns:InvalidTrustLevelFaultFaultMessage"/>
       				
       		 <fault name="IllegalTrustLevelFault" message="tns:IllegalTrustLevelFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="addAuthority">
            <input message="tns:addAuthorityInputMessage"/>
            <output message="tns:addAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalAuthorityFault" message="tns:IllegalAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="updateAuthority">
            <input message="tns:updateAuthorityInputMessage"/>
            <output message="tns:updateAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalAuthorityFault" message="tns:IllegalAuthorityFaultFaultMessage"/>
       				
       		 <fault name="InvalidAuthorityFault" message="tns:InvalidAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="updateAuthorityPriorities">
            <input message="tns:updateAuthorityPrioritiesInputMessage"/>
            <output message="tns:updateAuthorityPrioritiesOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="IllegalAuthorityFault" message="tns:IllegalAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
		<operation name="getAuthorities">
            <input message="tns:getAuthoritiesInputMessage"/>
            <output message="tns:getAuthoritiesOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
        </operation>
		<operation name="removeAuthority">
            <input message="tns:removeAuthorityInputMessage"/>
            <output message="tns:removeAuthorityOutputMessage"/>
       		 <fault name="GTSInternalFault" message="tns:GTSInternalFaultFaultMessage"/>
       				
       		 <fault name="InvalidAuthorityFault" message="tns:InvalidAuthorityFaultFaultMessage"/>
       				
       		 <fault name="PermissionDeniedFault" message="tns:PermissionDeniedFaultFaultMessage"/>
       				
        </operation>
        <operation name="GetResourceProperty">
            <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty"/>
            <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="GetMultipleResourceProperties">
            <input name="GetMultipleResourcePropertiesRequest"
                message="wsrpw:GetMultipleResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <output name="GetMultipleResourcePropertiesResponse"
                message="wsrpw:GetMultipleResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
        </operation>
        <operation name="QueryResourceProperties">
            <input name="QueryResourcePropertiesRequest"
                message="wsrpw:QueryResourcePropertiesRequest"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties"/>
            <output name="QueryResourcePropertiesResponse"
                message="wsrpw:QueryResourcePropertiesResponse"
                wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse"/>
            <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault"/>
            <fault name="InvalidResourcePropertyQNameFault"
                message="wsrpw:InvalidResourcePropertyQNameFault"/>
            <fault name="UnknownQueryExpressionDialectFault"
                message="wsrpw:UnknownQueryExpressionDialectFault"/>
            <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault"/>
            <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault"/>
        </operation>
    </portType>
</definitions>
