cagrid-1-0/Demos/07annual/AnnualDemo07.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="AnnualDemoService" targetNamespace="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns:tns="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:caarray="http://caarray.cagrid.nci.nih.gov/CaArraySvc" xmlns:translation="http://annualdemo.cagrid.nci.nih.gov/MageTranslationServices" xmlns:gene="http://org.genepattern.cagrid.service/ConsensusClusteringSTATMLService" xmlns:prepro="http://org.genepattern.cagrid.service/PreprocessDatasetSTATMLService" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns="http://schema.xmlsoap.org/wsdl/">

  <wsdl:import namespace="http://caarray.cagrid.nci.nih.gov/CaArraySvc" location="http://cagrid-portal.nci.nih.gov:8080/wsrf/share/schema/CaArraySvc/CaArraySvc.wsdl"/>
  <wsdl:import namespace="http://annualdemo.cagrid.nci.nih.gov/MageTranslationServices" location="http://spirulina.ci.uchicago.edu:8080/wsrf/share/schema/MageTranslationServices/MageTranslationServices.wsdl"/>
  <wsdl:import namespace="http://org.genepattern.cagrid.service/ConsensusClusteringSTATMLService" location="http://18.103.11.105:6060/wsrf/share/schema/_cagrid_ConsensusClusteringSTATMLService/ConsensusClusteringSTATMLService.wsdl"/>
  <wsdl:import namespace="http://org.genepattern.cagrid.service/PreprocessDatasetSTATMLService" location="http://18.103.11.105:6060/wsrf/share/schema/_cagrid_PreprocessDatasetSTATMLService/PreprocessDatasetSTATMLService.wsdl"/>

<wsdl:types>
<schema targetNamespace="http://annualdemo.cagrid.nci.nih.gov/bpel" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cqlq="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL"  xmlns:tns="http://annualdemo.cagrid.nci.nih.gov/bpel">
 <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQL" schemaLocation="http://cagrid-portal.nci.nih.gov:8080/wsrf/share/schema/CaArraySvc/xsd/Data/1_gov.nih.nci.cagrid.CQLQuery.xsd"/>
 <import namespace="gme://caArray.caBIG/1.1/gov.nih.nci.mageom.domain.Experiment" schemaLocation="http://cagrid-portal.nci.nih.gov:8080/wsrf/share/schema/CaArraySvc/gov.nih.nci.mageom.domain.Experiment.xsd"/>
 </schema>
 </wsdl:types>


    <plnk:partnerLinkType name="caArrayServicePartnerLinkType">
        <plnk:role name="caArray">
            <plnk:portType name="caarray:CaArraySvcPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>

 <plnk:partnerLinkType name="translationalPartnerLinkType">
        <plnk:role name="translate">
            <plnk:portType name="translation:MageTranslationServicesPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>

<plnk:partnerLinkType name="genePatternPartnerLinkType">
    <plnk:role name="genePattern">
        <plnk:portType name="gene:ConsensusClusteringSTATMLServicePortType"/>
    </plnk:role>
</plnk:partnerLinkType>

<plnk:partnerLinkType name="preprocessDataSetPLT">
    <plnk:role name="preprocess">
        <plnk:portType name="prepro:PreprocessDatasetSTATMLServicePortType"/>
    </plnk:role>
</plnk:partnerLinkType>



<!--
<plnk:partnerLinkType name="DukeRproteomicsPartnerLinkType">
   <plnk:role name="dukeservice">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OSURproteomicsPartnerLinkType">
   <plnk:role name="osuservice">
      <plnk:portType name="rprot:RProteomicsPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="RproteomicsDataLinkType">
   <plnk:role name="data">
      <plnk:portType name="rprotdata:RPDataPortType"/>
   </plnk:role>
</plnk:partnerLinkType>
-->
</wsdl:definitions>
