cagrid-1-0/caGrid/projects/portal2/services/webauthn/schema/WebAuthnSvc/WebAuthnSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns3="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/types" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns2="http://cagrid.nci.nih.gov/1/authentication-service" xmlns:ns4="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="http://cagrid.nci.nih.gov/AuthenticationService/types" xmlns:ns1="http://cagrid.nci.nih.gov/1/webauthn" name="WebAuthnSvc" targetNamespace="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/types" schemaLocation="./WebAuthnSvcTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/authentication-service" schemaLocation="./authentication-service.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/security.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/AuthenticationService/types" schemaLocation="./AuthenticationServiceTypes.xsd" />
      <import namespace="http://cagrid.nci.nih.gov/1/webauthn" schemaLocation="./webauthn.xsd" />
      <element name="GetUserInfoRequest">
        <complexType>
          <sequence>
            <element name="loginKey" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="GetUserInfoResponse">
        <complexType>
          <sequence>
            <element ref="ns1:UserInfo" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateLoginKeyForLocalUserRequest">
        <complexType>
          <sequence>
            <element name="credential">
              <complexType>
                <sequence>
                  <element ref="ns2:Credential" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateLoginKeyForLocalUserResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateLoginKeyForGridUserRequest">
        <complexType>
          <sequence>
            <element name="idpUrl" type="xs:string" minOccurs="1" maxOccurs="1" />
            <element name="credential">
              <complexType>
                <sequence>
                  <element ref="ns2:Credential" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="CreateLoginKeyForGridUserResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="WebAuthnSvcResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns5:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetUserInfoRequest">
    <part name="parameters" element="tns:GetUserInfoRequest" />
  </message>
  <message name="GetUserInfoResponse">
    <part name="parameters" element="tns:GetUserInfoResponse" />
  </message>
  <message name="CreateLoginKeyForLocalUserRequest">
    <part name="parameters" element="tns:CreateLoginKeyForLocalUserRequest" />
  </message>
  <message name="CreateLoginKeyForLocalUserResponse">
    <part name="parameters" element="tns:CreateLoginKeyForLocalUserResponse" />
  </message>
  <message name="CreateLoginKeyForGridUserRequest">
    <part name="parameters" element="tns:CreateLoginKeyForGridUserRequest" />
  </message>
  <message name="CreateLoginKeyForGridUserResponse">
    <part name="parameters" element="tns:CreateLoginKeyForGridUserResponse" />
  </message>
  <message name="InvalidKeyFaultFaultMessage">
    <part name="fault" element="ns3:InvalidKeyFault" />
  </message>
  <message name="InvalidCredentialFaultFaultMessage">
    <part name="fault" element="ns0:InvalidCredentialFault" />
  </message>
  <message name="InsufficientAttributeFaultFaultMessage">
    <part name="fault" element="ns0:InsufficientAttributeFault" />
  </message>
  <message name="AuthenticationProviderFaultFaultMessage">
    <part name="fault" element="ns0:AuthenticationProviderFault" />
  </message>
  <message name="WebAuthnSvcFaultFaultMessage">
    <part name="fault" element="ns3:WebAuthnSvcFault" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="WebAuthnSvcPortType" wsrp:ResourceProperties="tns:WebAuthnSvcResourceProperties">
    <operation name="getUserInfo">
      <input message="tns:GetUserInfoRequest" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/GetUserInfoRequest" />
      <output message="tns:GetUserInfoResponse" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/GetUserInfoResponse" />
      <fault name="InvalidKeyFault" message="tns:InvalidKeyFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/InvalidKeyFaultFaultMessage" />
    </operation>
    <operation name="createLoginKeyForLocalUser">
      <input message="tns:CreateLoginKeyForLocalUserRequest" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/CreateLoginKeyForLocalUserRequest" />
      <output message="tns:CreateLoginKeyForLocalUserResponse" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/CreateLoginKeyForLocalUserResponse" />
      <fault name="InvalidCredentialFault" message="tns:InvalidCredentialFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/InvalidCredentialFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="tns:InsufficientAttributeFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/InsufficientAttributeFaultFaultMessage" />
      <fault name="AuthenticationProviderFault" message="tns:AuthenticationProviderFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/AuthenticationProviderFaultFaultMessage" />
      <fault name="WebAuthnSvcFault" message="tns:WebAuthnSvcFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/WebAuthnSvcFaultFaultMessage" />
    </operation>
    <operation name="createLoginKeyForGridUser">
      <input message="tns:CreateLoginKeyForGridUserRequest" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/CreateLoginKeyForGridUserRequest" />
      <output message="tns:CreateLoginKeyForGridUserResponse" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/CreateLoginKeyForGridUserResponse" />
      <fault name="InvalidCredentialFault" message="tns:InvalidCredentialFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/InvalidCredentialFaultFaultMessage" />
      <fault name="InsufficientAttributeFault" message="tns:InsufficientAttributeFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/InsufficientAttributeFaultFaultMessage" />
      <fault name="AuthenticationProviderFault" message="tns:AuthenticationProviderFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/AuthenticationProviderFaultFaultMessage" />
      <fault name="WebAuthnSvcFault" message="tns:WebAuthnSvcFaultFaultMessage" wsa:Action="http://webauthn.portal2.cagrid.nci.nih.gov/WebAuthnSvc/WebAuthnSvcFaultFaultMessage" />
    </operation>
    <operation name="GetResourceProperty">
      <input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="GetMultipleResourceProperties">
      <input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
    </operation>
    <operation name="QueryResourceProperties">
      <input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

