cagrid-1-0/caGrid/projects/data/schema/Data/3-beta.gov.nih.nci.cagrid.CQLQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by David W. Ervin (The Ohio State University / Department of Biomedical Informatics) -->
<!--Sample XML file generated by XMLSpy v2005 rel. 3 Manav Kher(http://www.altova.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cql="http://CQL.caBIG/3/gov.nih.nci.cagrid.CQLQuery" targetNamespace="http://CQL.caBIG/3/gov.nih.nci.cagrid.CQLQuery" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="NestedObjectType">
		<xsd:annotation>
			<xsd:documentation>Associated Obects used as search criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Attribute" type="cql:AttributeType" minOccurs="0"/>
			<xsd:element name="Association" type="cql:AssociationType" minOccurs="0"/>
			<xsd:element name="Group" type="cql:GroupType" minOccurs="0"/>
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:annotation>
			<xsd:documentation>Object Association</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Object" type="cql:NestedObjectType"/>
		</xsd:sequence>
		<xsd:attribute name="roleName" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="AttributeType">
		<xsd:annotation>
			<xsd:documentation>Object Property element used as search criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="predicate" type="cql:PredicateType" use="optional" default="EQUAL_TO"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GroupType">
		<xsd:annotation>
			<xsd:documentation>Binary joint</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="2" maxOccurs="unbounded">
			<xsd:element name="Association" type="cql:AssociationType"/>
			<xsd:element name="Attribute" type="cql:AttributeType"/>
			<xsd:element name="Group" type="cql:GroupType"/>
		</xsd:choice>
		<xsd:attribute name="logicRelation" type="cql:LogicalOperatorType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="PredicateType">
		<xsd:annotation>
			<xsd:documentation>Extensible predicate type for object properties</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQUAL_TO" id="equal_to"/>
			<xsd:enumeration value="NOT_EQUAL_TO" id="not_equal_to"/>
			<xsd:enumeration value="LIKE" id="like"/>
			<xsd:enumeration value="ISNULL" id="is_null"/>
			<xsd:enumeration value="ISNOTNULL" id="is_not_null"/>
			<xsd:enumeration value="LESS_THAN" id="less_than"/>
			<xsd:enumeration value="LESS_THAN_EQUAL_TO" id="less_than_equal_to"/>
			<xsd:enumeration value="GREATER_THAN" id="greater_than"/>
			<xsd:enumeration value="GREATER_THAN_EQUAL_TO" id="greater_than_equal_to"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogicalOperatorType">
		<xsd:annotation>
			<xsd:documentation>Logical operators</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AND"/>
			<xsd:enumeration value="OR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
