cagrid-1-0/caGrid/projects/data/schema/Data/caGrid_xml_query-manav.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Sample XML file generated by XMLSpy v2005 rel. 3 Manav Kher(http://www.altova.com)-->
<xsd:schema xmlns:cql="http://nci.nih.gov/cagrid/data/CQL" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nci.nih.gov/cagrid/data/CQL" elementFormDefault="qualified">
	<xsd:element name="caGridXMLQuery">
		<xsd:annotation>
			<xsd:documentation>caGrid XML Query language</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Object" type="cql:NestedObjectType"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="NestedObjectType">
		<xsd:annotation>
			<xsd:documentation>Associated Obects used as search criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Attribute" type="cql:AttributeType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Association" type="cql:AssociationType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Group" type="cql:GroupType" minOccurs="0" maxOccurs="1"/>
		</xsd:choice>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="AssociationType">
		<xsd:annotation>
			<xsd:documentation>Object Association</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Object" type="cql:NestedObjectType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="roleName" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="AttributeType">
		<xsd:annotation>
			<xsd:documentation>attribute (object property).element used as search criteria</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="predicate" type="cql:PredicateType" default="EQUAL_TO" use="optional"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GroupType">
		<xsd:annotation>
			<xsd:documentation>Binary joint of two conditions</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="Object" type="cql:NestedObjectType" minOccurs="2" maxOccurs="unbounded"/>
			<xsd:element name="Attribute" type="cql:AttributeType" minOccurs="2" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="logicRelation" type="cql:LogicalOperatorType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="PredicateType">
		<xsd:annotation>
			<xsd:documentation>Currnetly there are only two kinds, "equal" and "like". It is extensible. </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EQUAL_TO" id="equal_to"/>
			<xsd:enumeration value="NOT_EQUAL_TO" id="not_equal_to"/>
			<xsd:enumeration value="LIKE" id="like"/>
			<xsd:enumeration value="ISNULL" id="is_null"/>
			<xsd:enumeration value="ISNOTNULL" id="is_not_null"/>
			<xsd:enumeration value="LESS_THAN" id="less_than"/>
			<xsd:enumeration value="LESS_THAN_EQUAL_TO" id="less_than_equal_to"/>
			<xsd:enumeration value="GREATER_THAN" id="greater_than"/>
			<xsd:enumeration value="GREATER_THAN_EQUAL_TO" id="greater_than_equal_to"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogicalOperatorType">
		<xsd:annotation>
			<xsd:documentation>Logical operators.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AND"/>
			<xsd:enumeration value="OR"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
